#product-details{
    text-align: center;
    .left {
        width: 100%;
    }
    .right {
        width: 100%;
        padding: 0;
    }
    .product-info{
        padding: 2.2rem 2.2rem 3rem;
        .gallery {
            .offer {
                top: 0;
            }
            .main-gallery {
                .dim(100%, auto);
                line-height: normal;
                padding: 7rem 0 3rem;
                margin-bottom: 4rem;
                .gallery-list {
                    .gallery-data {
                        .lazyload {
                            height: 26rem;
                            min-height: 26rem;
                            line-height: 26rem;
                        }
                    }
                }
                .common-dots {
                    line-height: normal;
                    .slick-dots {
                        padding-top: 4rem;
                    }
                    button {
                        border-color: @text-color;
                    }
                }
            }
        }
        .sell-data {
            .title {
                .font-black(24);
                margin-bottom: .5rem;
                line-height: 2.4rem;
            }
            .code {
                .font-regular(14);
                margin-bottom: 1.4rem;
            }
            .rating {
                margin-bottom: 2.1rem;
                .common-rating {
                    margin-bottom: 1rem;
                    .star {
                        svg {
                            .dim(2.8rem, 2.7rem);
                        }
                    }
                }
                .show-reviews {
                    .font-regular(16);
                    margin-left: 0;
                    display: block;
                    margin: 0 auto;
                }
            }
            .price {
                margin-bottom: 0;
                .old {
                    margin-bottom: .2rem;
                }
                .current {
                    .font-black(22);
                    margin-bottom: 0;
                    small {
                        .font-light(22);
                    }
                }
            }
            .payment {
                .font-regular(16);
                line-height: 2.1rem;
                strong {
                    .font-black(16);
                }
                .btn-installments {
                    .font-black(16);
                    margin-bottom: 2.7rem;
                }
            }
            .common-form {
                margin-top: 2.6rem;
                width: calc(~'100% + 4.4rem');
                margin-left: -2.2rem;
                padding: 1.8rem 2.2rem 0;
                max-width: none;
                label {
                    .font-black(14);
                    line-height: 2.4rem;
                }
            }
            .variations-list {
                max-width: 40rem;
                text-align: left;
                display: block;
                margin: 0 auto;
                select, .select2-container .select2-selection--single, .pk-field.-clean {
                    font-size: 16px;
                }
            }
            .transport-box {
                max-width: 40rem;
                display: block;
                margin: 0 auto;
                .quantity-box {
                    text-align: left;
                    margin-bottom: 0;
                    input {
                        text-align: center;
                    }
                }
                .zipcode-box {
                    text-align: left;
                    margin-bottom: 0;
                }
                #calculate {
                    height: 5rem;
                }
                .shipping-result {
                    .shipping-info {
                        .font-regular(16);
                        strong {
                            .font-black(16);
                        }
                    }
                }
            }
            #add-to-cart {
                max-width: 40rem;
                display: block;
                margin: 2rem auto 0;
            }
            .no-stock {
                max-width: 40rem;
                display: block;
                margin: 2rem auto 0;
            }
        }
    }
    .product-content {
        padding: 2.5rem 0 0;
        .left, .right {
            text-align: left;
            padding: 0 2.2rem;
        }
        .left {
            border-bottom: .1rem solid #e5e5e5;
            padding-bottom: 3rem;
        }
        .right {
            padding-top: 2.5rem;
            padding-bottom: 2rem;
        }
        .title {
            margin-bottom: 1.2rem;
        }
        .common-text {
            .fsize(19);
        }
        .characteristcs {
            ul {
                margin-top: 0;
                li {
                    list-style-type: none;
                    margin-bottom: 0;
                }
            }
        }
    }
    .reviews {
        padding-top: 2.9rem;
        margin-bottom: 2rem;
        padding: 0 2.2rem 0;
        text-align: left;
        .title {
            padding-left: 0;
        }
        .review-list {
            .fsize(0);
            overflow: hidden;
        }
        .review-data {
            .iblock();
            padding-left: 0;
            padding-bottom: 0;
            border-bottom: 0;
        }
        .common-dots {
            line-height: normal;
            .slick-dots {
                padding-top: 2rem;
            }
            button {
                border-color: @text-color;
            }
        }
        .common-rating {
            .star {
                svg {
                    .dim(2.9rem, 2.8rem);
                }
            }
        }
        .common-text {
            .fsize(16);
        }
        .author {
            .font-regular(16);
            strong {
                .font-black(16);
            }
        }
        .common-form {
            padding-top: 2.5rem;
            padding-left: 0;
            .form-title {
                .font-black(16);
            }
            .rating {
                .star {
                    svg {
                        .dim(5.1rem, 5.1rem);
                    }
                }
            }
            .submit {
                text-align: right;
                button {
                    width: 100%;
                    max-width: 40rem;
                }
            }
        }
    }
}
#related-products{
    text-align: left;
    margin-bottom: 3.5rem;
    h2 {
        height: 8rem;
        line-height: 8rem;
        padding-left: 2.2rem;
    }
    .common-dots {
        line-height: normal;
        .slick-dots {
            padding-top: 2rem;
        }
        button {
            border-color: @text-color;
        }
    }
}
