#products {
    .border-radius(0);
    .common-header {
        border: 0 none;
    }
    .container {
        text-align: center;
    }
    .options-selection {
        .iblock();
        .fsize(0);
        width: 100%;
        margin-top: 1.4rem;
        margin-bottom: 2.8rem;
        padding: 0 2rem;
        position: relative;
        max-width: 50rem;
        text-align: center;
        .option-button {
            .iblock();
            .dim(50%, 6rem);
            .font-black(14);
            color: @extralight-gray;
            background-color: @white;
            border: .2rem solid @extralight-gray;
            text-align: center;
            text-transform: uppercase;
            position: relative;
            z-index: 5;
            white-space: nowrap;
            span, svg {
                .iblock(middle);
            }
            svg {
                height: 2.4rem;
                margin-right: 1.5rem;
                fill: @extralight-gray;
            }
            &#btn-filter {
                margin-right: -.2rem;
            }
            &#btn-order {
                margin-left: -.2rem;
                svg {
                    .rotate(90deg);
                    height: auto;
                    width: 2.4rem;
                }
            }
            &.active {
                background-color: @extralight-gray;
                color: @white;
                svg {
                    fill: @white;
                }
            }
        }
        .order-list {
            .iblock();
            .postl(5.8rem,2.1rem);
            .opacity(0);
            .translateY(-4rem);
            .transition(opacity .4s @io-cubic, visibility .4s @io-cubic, transform .4s @io-cubic);
            .box-shadow(0 0 2rem @light-gray);
            visibility: hidden;
            width: calc(~'100% - 4.2rem');
            padding: 1.5rem;
            text-align: center;
            background-color: @white;
            z-index: 4;
            border: .2rem solid @extralight-gray;
            .order-data {
                .iblock();
                .font-light(16);
                width: 100%;
                line-height: 4.5rem;
                color: @text-color;
                cursor: pointer;
            }
            &.open {
                .opacity(1);
                .translateY(0);
                visibility: visible;
            }
        }
    }
    .filter {
        .dim(100%,100%);
        .transition(.1s visibility .2s @i-quartic, .1s opacity .2s @i-quartic);
        .opacity(0);
        visibility: hidden;
        top: 0;
        left: 0;
        position: fixed;
        background-color: @white;
        z-index: 5;
        padding: 0;
        margin: 0;
        body.filter-open & {
            .transition(visibility .2s @i-quartic, opacity .2s @i-quartic);
            .opacity(1);
            visibility: visible;
        }
        .title {
            .dim(100%,6.6rem);
            .iblock();
            background-color: @background-color;
            line-height: 6.6rem;
            position: relative;
            margin-bottom: 0;
            button {
                .postl(50%,0);
                .translateY(-50%);
                .dim(6.6rem,6.6rem);
                background-color: transparent;
                border: 0 none;
                display: block;
                svg {
                    .dim(2.2rem,1.6rem);
                    fill: @white;
                }
            }
            p {
                .iblock();
                .font-extrabold(16);
                color: @white;
                text-align: center;
            }
        }
        .common-form {
            .iblock();
            width: 100%;
            position: relative;
            height: calc(~'100% - 6.6rem');
        }
        .filters-container {
            .iblock();
            width: 100%;
            padding: 2rem;
            height: calc(~'100% - 5.5rem');
            overflow-y: scroll;
            text-align: left;
            .filter-dup {
                .iblock();
                width: 100%;
                border: .2rem solid @extralight-gray;
                padding: 1.6rem 2.4rem;
                margin-bottom: 1rem;
                &:last-child {
                    border: .2rem solid @extralight-gray;
                }
                &.mob-open {
                    .filter-title {
                        .mobile-icon {
                            .more {
                                .opacity(0);
                                visibility: hidden;
                            }
                            .less {
                                .opacity(1);
                                visibility: visible;
                            }
                        }
                    }
                }
                .filter-title {
                    .font-black(16);
                    margin-bottom: 0;
                    position: relative;
                    .mobile-icon {
                        .postr(0,0);
                        .translateY(-50%);
                        display: block;
                        svg {
                            .dim(2.2rem,2.2rem);
                            fill: @main-color;
                        }
                        .more, .less {
                            .transition(opacity .3s @io-cubic, visibility .3s @io-cubic);
                            .postr(-.2rem,0);
                        }
                        .less {
                            .opacity(0);
                            visibility: hidden;
                        }
                    }
                }
                .filters-list {
                    max-height: none;
                    overflow: visible;
                    display: none;
                    padding-top: 1.5rem;
                    .common-checkbox {
                        margin-bottom: 1.6rem;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        label {
                            .fsize(16);
                        }
                    }
                }
            }
        }
        .common-button {
            .border-radius(0);
            .posbl(0,0);
            width: 100%;
            border: .2rem solid @main-color;
            height: 5.5rem;
            &:before{
                background-color: @main-color;
            }
            &:hover, &:active, &:focus {
                span, .fa, svg {
                    color: @main-color;
                    fill: @main-color;
                }
            }
        }
    }
    .products {
        border-top: .1rem solid #e5e5e5;
        width: 100%;
        .products-list {
            .product-data {
                width: calc(~'100% / 3');
                border-left: 0 none;
            }
        }
    }
}