.products-list{
    .align-items(stretch);
    .display(flex);
    .flex-wrap(wrap);
    .justify-content(flex-start);
    width: 100%;
    .product-data{
        .iblock();
        height: 54.6rem;
        text-align: center;
        width: 25%;
        background-color: @white;
        position: relative;
        z-index: 1;
        border-right: .1rem solid #e2e2e2;
        border-bottom: .1rem solid #e2e2e2;
        padding-bottom: 6.2rem;
        &:nth-child(4n + 1), &:first-child {
            border-left: .1rem solid #e2e2e2;
        }
        html.desktop & {
            &:before {
                .dim(100%, 100%);
                .postl(50%,50%);
                .translate(-50%,-50%);
                .transition(width .2s @io-cubic, height .2s @io-cubic, box-shadow .3s @io-cubic);
                background-color: @white;
                content: '';
                z-index: 1;
            }
            &:hover {
                z-index: 2;
                &:before {
                    .dim(calc(~'100% + 1.2rem'),calc(~'100% + 1.2rem'));
                    .box-shadow(0 0 2rem fade(@black,20%));
                }
                .offer {
                    right: -.7rem;
                }
            }
        }
        .content{
            .iblock(top);
            .dim(100%,54.6rem);
            padding: 4rem 2rem 0;
            text-align: center;
            position: relative;
            z-index: 2;
        }
        .lazyload {
            .iblock();
            margin-bottom: 2rem;
            height: 27rem;
            max-height: 270px;
            // line-height: 17.4rem;
            width: 100%;
            .lazyload-image {
                width: auto;
                max-width: 100%;
                max-height: 100%;
            }
        }
        .title{
            .iblock();
            .font-black(14);
            width: 100%;
            color: @gray;
            min-height: 3.5rem;
            text-transform: uppercase;
        }
        .common-rating {
            width: 100%;
            margin-bottom: 1rem;
        }
        .price {
            .iblock();
            width: 100%;
            margin-bottom: .8rem;
            position: relative;
            height: 3.6rem;
            .old {
                .iblock();
                .font-regular(14);
                .dim(100%,1.6rem);
                .postl(0,50%);
                .translateX(-50%);
                color: @light-gray;
                text-decoration: line-through;
                margin-bottom: .2rem;
            }
            .current {
                .iblock();
                .font-black(16);
                .dim(100%);
                .posbl(0,50%);
                .translateX(-50%);
                color: @main-color;
                small {
                    .font-light(16);
                }
            }
        }
        .payment {
            .iblock();
            .font-light(13);
            width: 100%;
            color: @light-gray;
            line-height: 1.8rem;
            strong {
                .font-extrabold(13);
            }
        }
        .bt-buy {
            .border-radius(3px);
            .font-black(16);
            .posbl(1rem, 50%);
            .translateX(-50%);
            border: 0 none;
            border: 2px solid @success-color;
            color: white;
            margin: 1rem 0;
            padding: 1rem 2rem;
            text-transform: uppercase;

            &:before {
                background-color: @success-color;
            }
            &:hover, &:active, &:focus {
                span {
                    color: @success-color;

                    svg {
                        fill: @success-color;
                    }
                }
            }
            svg {
                .dim(1.8rem, 1.8rem);
                fill: white;
                margin-right: .5rem;
            }
        }
        .no-stock {
            .iblock();
            .font-black(16);
            .posbl(2rem, 50%);
            .translateX(-50%);
            width: 100%;
            text-align: center;
            color: @text-color;
            margin-top: 1rem;
            .common-button {
                margin-top: 1rem;
                border-color: @text-color;
                height: 4.2rem;
                text-transform: none;
                padding: 0 1.7rem;
                &:before {
                    background-color: @text-color;
                }
                &:hover, &:active, &:focus {
                    span, .fa, svg {
                        color: @gray;
                        fill: @gray;
                    }
                }
            }
        }
    }
    .no-results{
        padding: 50px 0;
        text-align: center;
        width: 100%;
    }
}
.offer{
    .postr(1rem,-.1rem);
    .dim(7.6rem, 4.7rem);
    .border-radius(.3rem 0 0 .3rem);
    .transition(right .3s @io-cubic);
    background-color: #000;
    // background-color: #c82127;
    text-align: center;
    line-height: 4.4rem;
    z-index: 4;
    svg {
        .iblock();
        .dim(1.7rem, 1.7rem);
        fill: white;
        margin-right: 1rem;
        margin-top: 1.6rem;
    }
    .save {
        .iblock();
        .font-black(17);
        text-align: left;
        color: white;
        margin-top: .8rem;
        line-height: 1.7rem;
        text-transform: uppercase;
    }
}

@media screen and (max-width: 960px) {
    @import url('_m.produtos.less');
}