@import '../../../comum/assets/less/_variables.less';

#banners{
    background: #000;
    overflow: hidden;
    height: 505px;
    position: relative;
    z-index: 1;
    .banner{
        .dim(100%,100%);
        .block();
        .opacity(0);
        .postl(0,0);
        visibility: hidden;
        .transition(opacity 2s @o-quintic, visibility 0s linear 2s);
        &.current{
            .opacity(1);
            visibility: visible;
            .transition(opacity .7s @i-exponential, visibility 0s linear 0s);
            z-index: 2;
        }
        &:after{
            content: url('@{img}preloader-reverse.gif');
        }
    }
    #banner-controller{
        .postr(50%, 50px);
        .translateY(-50%);
        z-index: 6;
        button{
            background: transparent;
            .block();
            border: 1px solid #fff;
            .border-radius(50%);
            .dim(16px,16px);
            padding: 3px;
            margin-top: 10px;
            position: relative;
            .transition(background .3s @io-quadradic);
            &:first-child{
                margin-top: 0;
            }
            span{
                background: #fff;
                .block();
                .postl(50%,50%);
                .transform(translate(-50%,-50%) scale(0));
                .dim(16px,16px);
                .border-radius(50%);
                .transition(transform .3s @io-quadradic);
            }
            &.current{
                span{
                    .transform(translate(-50%,-50%) scale(1));
                }
            }
            &:hover{
                background: fade(#fff,10%);
            }
        }
    }
}


@media screen and (max-width: 959px){
    #banners{
        height: 38rem;
        overflow: visible;
        &.multiple{
            margin-bottom: 2.8rem;
        }
        #banner-controller{
            background: #fff;
            .dim(100%,2.8rem);
            .postl(100%,0);
            right: auto;
            .translate(0);
            text-align: center;
            padding-top: 0.6rem;
            .banner-button{
                border-color: #000;
                .dim(1.6rem,1.6rem);
                .border-radius(0);
                .iblock();
                margin: 0 .2rem;
                span{
                    background: #000;
                    .border-radius(0);
                    .dim(1.6rem,1.6rem);
                }
            }
        }
    }
}