#breadcrumb{
    background: #fff;
    min-width: @min-width;
    padding: 18px 0 12px;
    ul{
        .fsize(0);
        li{
            color: #444;
            .fsize(12px);
            .iblock(middle);
            position: relative;
            a{
                color: #444;
                font-style: italic;
                .font-black();
                .iblock(middle);
                line-height: 18px;
                position: relative;
                text-transform: lowercase;
            }
            + li{
                &:before{
                    content: '/';
                    .iblock(middle);
                    .font-black();
                    margin: 0 1px 0 4px;
                }
            }
            &:last-child{
                a{
                    color: #101010;
                }
            }
        }
    }
}
@media screen and (max-width: 959px){
    #breadcrumb {
        display: none;
    }
}