#footer {
    .iblock();
    width: 100%;
    padding-left: 6rem;
    margin-top: .6rem;
    .footer-limiter {
        max-width: 117rem;
        padding-right: 1rem;
    }
    .newsletter {
        .iblock();
        .fsize(0);
        width: 100%;
        line-height: 11.2rem;
        .intro {
            .iblock(middle);
            width: 38.8rem;
            line-height: normal;

            &.black-friday {
                display: none;
            }
            svg {
                .iblock(middle);
                .dim(3.7rem, 3.1rem);
                margin-right: 1.7rem;
                fill: @text-color;
            }
            .desc {
                .iblock(middle);
                .font-black(16);
                color: @text-color;
                text-transform: uppercase;
                line-height: 1.8rem;
                strong {
                    display: block;
                    color: @white;
                }
            }
        }
        .common-form {
            .iblock(middle);
            width: calc(~'100% - 38.8rem');
            line-height: normal;
            position: relative;
            input:-webkit-autofill,
            input:-webkit-autofill:hover,
            input:-webkit-autofill:focus
            input:-webkit-autofill,
            textarea:-webkit-autofill,
            textarea:-webkit-autofill:hover
            textarea:-webkit-autofill:focus,
            select:-webkit-autofill,
            select:-webkit-autofill:hover,
            select:-webkit-autofill:focus {
                caret-color: fade(@white,70%)!important;
                -webkit-text-fill-color: @white!important;
                -webkit-box-shadow: 0 0 0px 1000px transparent inset!important;
                transition: background-color 5000s ease-in-out 0s;
            }
            .row {
                margin-bottom: 0;
            }
            input {
                .placeholder(@white);
                border-color: fade(@white, 20%);
                color: @white;
                height: 5rem;
                background-color: transparent;
                &:focus {
                    border-color: @white;
                }
            }
            input[type="email"] {
                padding-right: 4.4rem;
            }
            button[type="submit"] {
                .dim(4.4rem, 4.4rem);
                .postr(.3rem, .3rem);
                text-align: center;
                line-height: 4.4rem;
                background-color: transparent;
                border: none;
                padding: 0;
                &:before {
                    background-color: transparent;
                }
                svg {
                    .dim(1.8rem, 1.5rem);
                    .iblock(middle);
                    .transform(rotate(180deg) scale(1));
                    fill: @white;
                    margin-right: 0;
                }
                .loader-container {
                    width: 36px;
                    top:.9rem;
                    div {
                        width: calc(~'(100%/9) - 2px');
                        &:first-child, &:last-child {
                            display: none;
                        }
                    }
                }
            }
            &.sending {
                button[type="submit"] {
                    svg, span {
                        .transform(rotate(180deg) scale(0));
                    }
                }
            }
        }
    }
    .footer-title {
        .iblock();
        .font-black(12);
        width: 100%;
        color: @white;
        text-transform: uppercase;
        margin-bottom: 1.5rem;
    }
    .company-info {
        .iblock();
        width: 100%;
        border-top: .1rem solid fade(@white, 20%);
        padding-top: 3.7rem;
        margin-bottom: 6rem;
        .contact {
            .iblock();
            width: 38.8rem;
            position: relative;
            &:before {
                .postl(-3.8rem,0);
                .dim(3.8rem,.1rem);
                content: '';
                background-color: @main-color;
            }
            .address {
                .iblock();
                .font-regular(14);
                width: 100%;
                margin-bottom: 1.5rem;
                font-style: normal;
                color: fade(@white, 50%);
            }
            .contact-data {
                .iblock();
                width: 100%;
                margin-bottom: 1.2rem;
                .icon {
                    .iblock(middle);
                    .dim(2.3rem, 2.3rem);
                    svg {
                        max-width: 100%;
                        fill: @main-color;
                    }
                }
                .number {
                    .iblock(middle);
                    .font-black(25);
                    color: fade(@white, 10%);
                    margin-left: 1.3rem;
                }
                .text {
                    .iblock(middle);
                    .font-regular(14);
                    margin-left: 1.5rem;
                }
                .whats {
                    pointer-events: none;
                    svg {
                        fill: #1fd141;
                    }
                }
                .phone {
                    pointer-events: none;
                }
                .email {
                    svg {
                        max-width: 2.1rem;
                    }
                }
                .link {
                    cursor: default;
                    &.email {
                        cursor: pointer;
                    }
                }
            }
        }
        .sitemap {
            .iblock();
            width: calc(~'100% - 76.6rem');
            position: relative;
            &:before {
                .postl(-3.8rem,0);
                .dim(3.8rem,.1rem);
                content: '';
                background-color: @main-color;
            }
            .menu-list, .menu-data {
                .iblock();
                width: 100%;
                .link {
                    .iblock();
                    .font-light(14);
                    .transition(color .3s @io-cubic);
                    color: fade(@white, 50%);
                    margin-bottom: 1.6rem;
                    &:hover {
                        color: @white;
                    }
                }
            }
        }
        .service {
            .iblock();
            width: 37.8rem;
            position: relative;
            &:before {
                .postl(-3.8rem,0);
                .dim(3.8rem,.1rem);
                content: '';
                background-color: @main-color;
            }
            .desc {
                .iblock();
                .font-light(14);
                width: 100%;
                color: fade(@white, 50%);
                margin-bottom: 3.2rem;
                line-height: 2.1rem;
                margin-top: -.2rem;
            }
            .facebook, .instagram {
                display: block;

                .icon {
                    .iblock(middle);
                    .dim(4.6rem,4.6rem);
                    .border-radius(5rem);
                    line-height: 4.6rem;
                    text-align: center;
                    background-color: #6386d0;
                    cursor: pointer;
                    svg {
                        .iblock(middle);
                        .transition(fill .3s @io-cubic);
                        fill: @background-color;
                        max-height: 2.4rem;
                    }
                }
                .like {
                    .iblock(middle);
                    .font-black(13);
                    color: #6386d0;
                    text-transform: uppercase;
                    margin-left: 1.1rem;
                }
                &:hover {
                    .icon {
                        svg {
                            fill: @white;
                        }
                    }
                }
            }
            .instagram {
                margin-top: 1rem;

                .icon {
                    background-color: #E73E51;
                }
                .like {
                    color: #E73E51;
                }
            }
        }
    }
    .site-info {
        .iblock();
        .fsize(0);
        width: 100%;
        border-top: .1rem solid fade(@white, 20%);
        padding-top: 3.7rem;
        margin-bottom: 4rem;
        .payment {
            .iblock();
            width: calc(~'100% - 37.8rem');
            position: relative;
            &:before {
                .postl(-3.8rem,0);
                .dim(3.8rem,.1rem);
                content: '';
                background-color: @main-color;
            }
            .sub-title {
                .iblock();
                .font-black(10);
                width: 100%;
                color: fade(@white, 50%);
                text-transform: uppercase;
                margin-bottom: .8rem;
                line-height: 1.4rem;
            }
            .cards {
                .iblock();
                width: 39rem;
                .flag-list {
                    .iblock();
                    .fsize(0);
                    width: 100%;
                }
                .flag-data {
                    .iblock(middle);
                    margin-right: 1rem;
                }
            }
            .slip {
                .iblock();
                .slip-img {
                    .iblock();
                }
            }
        }
        .certificate {
            .iblock();
            width: 37.8rem;
            position: relative;
            &:before {
                .postl(-3.8rem,0);
                .dim(3.8rem,.1rem);
                content: '';
                background-color: @main-color;
            }
            .certificate-list {
                .iblock();
                .fsize(0);
                width: 100%;
                margin-top: .5rem;
            }
            .certificate-data {
                .iblock(middle);
                margin-right: 1rem;
                a {
                    .dim(11rem,4.5rem);
                    .border-radius(.3rem);
                    .iblock();
                    background-color: @white;
                    text-align: center;
                    line-height: 4.5rem;
                }
                img {
                    .iblock(middle);
                    line-height: normal;
                }
            }
        }
    }
    .final-info {
        .iblock();
        width: 100%;
        border-top: .1rem solid fade(@white, 20%);
        padding-top: 3.7rem;
        margin-bottom: 7.5rem;
        .text {
            .iblock(middle);
            .font-light(13);
            width: calc(~'100% - 30rem');
            color: fade(@white, 15%);
            line-height: 1.6rem;
        }
        .storetrooper {
            .iblock(middle);
            width: 30rem;
        }
    }
}
@media screen and (max-width: 1330px) {
    #footer {
        .final-info {
            .text {
                padding-right: 6rem;
            }
        }
    }
}
@media screen and (max-width: 1160px) {
    #footer {
        .newsletter {
            .intro {
                width: 29.8rem;
                .desc {
                    .fsize(14);
                    line-height: 1.6rem;
                }
            }
            .common-form {
                width: calc(~'100% - 29.8rem');
            }
        }
        .company-info {
            .contact {
                width: 40%;
                padding-right: 2rem;
            }
            .sitemap {
                width: 25%;
                padding-right: 2rem;
            }
            .service {
                width: 35%;
            }
        }
        .site-info {
            .payment {
                width: calc(~'100% - 28.8rem');
            }
            .certificate {
                width: 28.8rem;
            }
        }
    }
}
@media screen and (max-width: 960px) {
    @import url('_m.footer.less');
}
@media screen and (max-width: 360px) {
    #footer {
        .newsletter {
            .intro {
                svg {
                    .dim(4rem,3.4rem);
                    margin-right: 1.2rem;
                    margin-left: -1rem;
                }
                .desc {
                    .font-black(16);
                    line-height: 1.8rem;
                }
            }
        }
    }
}