.common-form {
    .select-wrapper {
        position: relative;
        width: 100%;
        &:after {
            .postr(50%, 1.4rem);
            .translateY(-50%);
            font: normal normal normal 14px/1 FontAwesome;
            font-size: inherit;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            content: "\f107";
            color: @main-color;
            .fsize(18);
            z-index: 1;
        }
        select {
            position: relative;
            padding-right: 3.4rem;
            z-index: 2;
        }
    }
    .row {
        .display(flex);
        .flex-direction(row);
        width: 100%;
        margin-bottom: 1rem;
    }
    .form-group {
        .iblock();
        width: 100%;
        margin-left: 1.2rem;
        position: static;
        &.relative {
            position: relative;
        }
        &:first-child {
            margin-left: 0;
        }
        .loader-container {
            .postl(50%, 50%);
            .dim(55px,9px);
            .opacity(0);
            .transform(translate(-50%,-50%) scale(2));
            .transition(opacity .4s @io-cubic, visibility .4s @io-cubic, .2s transform .4s @i-cubic);
            visibility: hidden;
            z-index: 5;
        }
        &:before {
            .dim(100%,100%);
            .postl(0,0);
            .opacity(0);
            .transition(opacity .2s @io-cubic, visibility .2s @io-cubic);
            visibility: hidden;
            content: '';
            background-color: fade(@white, 50%);
            z-index: 4;
        }
        &.loading {
            position: relative;
            &:before {
                .opacity(1);
                visibility: visible;
            }
            .loader-container {
                .transition(.2s opacity .4s @io-cubic, .2s visibility .4s @io-cubic, transform .4s @i-cubic);
                .transform(translate(-50%,-50%) scale(1));
                .opacity(1);
                visibility: visible;
            }
        }
    }
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    input[type="password"],
    input[type="date"],
    input[type="number"],
    select,
    textarea {
        .iblock();
        .dim(100%,4.5rem);
        .border-radius(.5rem);
        .font-black(12);
        .placeholder(@text-color);
        .transition(box-shadow .5s @io-cubic, border-color .3s @io-cubic);
        border: .3rem solid #d9d9d9;
        padding: 1rem 1.6rem;
        color: @text-color;
        background-color: transparent;
        &:focus {
            .box-shadow(0 0 2rem fade(@black,20%));
        }
        &::-ms-clear {
            display: none;
        }
        &.error {
            border-color: @main-color;
        }
    }
    textarea {
        height: 15rem;
    }
    &.sending {
        button[type="submit"] {
            span, .fa, svg {
                .transition(color .4s @io-sine, fill .4s @io-sine, transform .4s @i-cubic);
                .scale(0);
            }
            .loader-container {
                .transition(.2s opacity .4s @io-cubic, .2s visibility .4s @io-cubic, transform .4s @i-cubic);
                .transform(translate(-50%,-50%) scale(1));
                .opacity(1);
                visibility: visible;
            }
        }
    }
}
.common-checkbox {
    .iblock();
    width: 100%;
    position: relative;
    white-space: nowrap;
    html.desktop & {
        &:hover{
            .checkbox{
                .box-shadow(0 0 1rem -2px fade(@black,30%));
            }
        }
    }
    input {
        .dim(1.6rem,1.6rem);
        .iblock(middle);
        .postl(0,0);
        .opacity(0);
        margin: 0;
        padding: 0;
        z-index: 2;
        cursor: pointer;
        &:checked{
            &~.checkbox{
                &:before {
                    .transition(background-color .2s linear);
                    background-color: @main-color;
                }
                &:after {
                    .transition(.2s background-color .2s linear);
                    background-color: @main-color;
                }
            }
        }
        &:focus{
            &~.checkbox{
                .box-shadow(0 0 1rem -2px fade(@black,30%));
            }
        }
    }
    .checkbox {
        .iblock(middle);
        .dim(1.6rem,1.6rem);
        .border-radius(.2rem);
        .transition(box-shadow .2s @i-cubic);
        margin-right: 1.2rem;
        border: .2rem solid @extralight-gray;
        position: relative;
        &:before {
            .dim(.45rem, .2rem);
            .postl(.6rem,.1rem);
            .rotate(45deg);
            .transition(.2s background-color .2s linear);
            background-color: transparent;
            content: '';
        }
        &:after {
            .dim(.85rem, .2rem);
            .posbl(.53rem,.3rem);
            .rotate(-45deg);
            .transition(background-color .2s linear);
            background-color: transparent;
            content: '';
        }
    }
    label {
        .font-light(12);
        .iblock(middle);
        white-space: normal;
        color: @text-color;
        cursor: pointer;
    }
}
.common-radio {
    .iblock();
    width: 100%;
    position: relative;
    html.desktop & {
        &:hover{
            .radio{
                .box-shadow(0 0 1rem -2px fade(@black,30%));
            }
        }
    }
    input {
        .dim(1.8rem,1.8rem);
        .postl(0,0);
        .opacity(0);
        margin: 0;
        padding: 0;
        z-index: 2;
        cursor: pointer;
        &:checked{
            &~.radio{
                &:before {
                    .transition(background-color .2s linear);
                    background-color: @main-color;
                }
            }
        }
        &:focus{
            &~.radio{
                .box-shadow(0 0 1rem -2px fade(@black,30%));
            }
        }
    }
    .radio {
        .iblock(middle);
        .dim(1.8rem,1.8rem);
        .border-radius(1rem);
        .transition(box-shadow .2s @i-cubic);
        margin-right: .6rem;
        border: .2rem solid @extralight-gray;
        position: relative;
        &:before {
            .dim(.8rem, .8rem);
            .border-radius(.8rem);
            .postl(50%,50%);
            .translate(-50%, -50%);
            .transition(background-color .2s linear);
            background-color: transparent;
            content: '';
        }
    }
    label {
        .font-light(12);
        .iblock(middle);
        color: @text-color;
        cursor: pointer;
        text-transform: uppercase;
    }
}
body {
    .select2-container {
        width: 100%!important;
        background-color: @white;
        z-index: 3;
        &.select2-container--open {
            .select2-selection--single {
                .box-shadow(0 0 2rem fade(@black,20%));
                .select2-selection__arrow {
                    &:before {
                        .transform(rotate(180deg) translateY(50%));
                    }
                }
            }
        }
        .select2-dropdown {
            .border-radius(.5rem);
            .font-black(12);
            .placeholder(@text-color);
            .transition(box-shadow .5s @io-cubic, border-color .3s @io-cubic);
            border: .3rem solid #d9d9d9;
            color: @text-color;
            background-color: transparent;
            background-color: @white;
            .translateY(-.3rem);
            &.select2-dropdown--above {
                .translateY(.3rem);
            }
            .select2-results__options {
                .select2-results__option {
                    .iblock();
                    width: 100%;
                    padding: 1rem 1.6rem;
                    &.select2-results__option--highlighted {
                        background-color: @background-color!important;
                    }
                }
            }
            .select2-search--dropdown {
                .select2-search__field {
                    .iblock();
                    .dim(100%,3.5rem);
                    .border-radius(.3rem);
                    .font-black(12);
                    .placeholder(@text-color);
                    border: .1rem solid #d9d9d9;
                    padding: 1rem 1.6rem;
                    color: @text-color;
                    background-color: transparent;
                    &::-ms-clear {
                        display: none;
                    }
                }
            }
        }
        &.error {
            .select2-selection--single {
                border-color: @main-color;
            }
        }
        .select2-selection--single {
            .iblock();
            .dim(100%,4.5rem);
            .border-radius(.5rem);
            .font-black(12);
            .placeholder(@text-color);
            .transition(box-shadow .5s @io-cubic, border-color .3s @io-cubic);
            border: .3rem solid #d9d9d9;
            padding: 1rem 1.6rem;
            color: @text-color;
            background-color: transparent;
            text-align: left;
            .select2-selection__rendered {
                .iblock(middle);
                line-height: normal;
                color: @text-color;
                padding: 0;
                line-height: 2rem;
            }
            .select2-selection__arrow {
                height: 100%;
                &:before {
                    .postr(50%, 1.4rem);
                    .translateY(-50%);
                    .transition(transform .3s @i-cubic);
                    font: normal normal normal 14px/1 FontAwesome;
                    font-size: inherit;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    content: "\f107";
                    color: @main-color;
                    .fsize(18);
                    z-index: 1;
                }
                b {
                    display: none;
                }
            }
        }
    }
}
@media screen and (max-width: 960px) {
    .common-form {
        input[type="text"],
        input[type="email"],
        input[type="tel"],
        input[type="password"],
        input[type="date"],
        input[type="number"],
        select,
        select:focus,
        textarea {
            .dim(100%,5rem);
            .border-radius(.3rem);
            .font-black();
            font-size: 16px;
            border-width: .2rem;
            padding: 1.3rem 1.6rem;
        }
        textarea {
            height: 12rem;
        }
    }
}
@media screen and (max-width: 768px) {
    .common-form {
        .row {
            .iblock();
            margin-bottom: 0;
        }
        .form-group {
            margin: 0 0 1rem;
            width: 100%;
        }
    }
    .common-radio {
        input {
            .dim(2.6rem,2.6rem);
        }
        .radio {
            .dim(2.6rem,2.6rem);
            .border-radius(2rem);
            border-width: .1rem;
            &:before {
                .dim(1.2rem, 1.2rem);
                .border-radius(1.2rem);
            }
        }
    }
    .common-checkbox {
        input {
            .dim(2.2rem,2.2rem);
        }
        .checkbox {
            .dim(2.2rem,2.2rem);
            &:before {
                .dim(.7rem, .2rem);
                .postl(1rem,.2rem);
            }
            &:after {
                .dim(1.3rem, .2rem);
                .posbl(.8rem,.5rem);
            }
        }
    }
    body {
        .select2-container {
            .select2-dropdown {
                .border-radius(.3rem);
                border: .2rem solid #d9d9d9;
                .translateY(-.2rem);
                &.select2-dropdown--above {
                    .translateY(.2rem);
                }
            }
            .select2-selection--single {
                .dim(100%,5rem);
                .border-radius(.3rem);
                border: .2rem solid #d9d9d9;
                .select2-selection__rendered {
                    line-height: 2.6rem;
                }
            }
        }
    }
}