#header {
    .iblock();
    .dim(100%,11.5rem);
    line-height: 11.5rem;
    background-color: @background-color;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;

    .logo {
        .iblock();
        text-align: center;
        margin-left: 4.1rem;
        a {
            .iblock(middle);
            line-height: normal;
            margin-top: 2.5rem;
            img {
                max-width: 19.2rem;
            }
        }
    }
    .contact {
        .iblock();
        width: calc(~'100% - 91rem');
        text-align: right;
        padding-right: 2rem;
        .contact-list {
            .iblock(middle);
            margin-right: 3.5rem;
        }
        .contact-data {
            .iblock();
            margin-left: 3.5rem;
            .align {
                .iblock(middle);
                line-height: normal;
                cursor: default;
            }
            .icon {
                .iblock(middle);
                width: 2.4rem;
                margin-right: .8rem;
                margin-top: -.2rem;
            }
            svg {
                height: 2.5rem;
                max-width: 2.4rem;
                fill: fade(@white, 20%);
            }
            .number {
                .iblock(middle);
                .font-bold(16);
                color: fade(@white, 20%);
            }
            &.whatsapp {
                svg {
                    fill: #1fd141;
                }
            }
        }
        .facebook, .instagram {
            .iblock(middle);
            .align {
                .iblock(middle);
                .dim(2.9rem,2.9rem);
                .border-radius(2rem);
                .transition(background-color .3s @io-cubic);
                line-height: 3rem;
                text-align: center;
                background-color: fade(@white, 20%);
                cursor: pointer;
                svg {
                    .iblock(middle);
                    fill: @background-color;
                    margin-right: 0;
                    max-height: 1.6rem;
                }
                &:hover {
                    background-color: #6386d0;
                }
            }
        }
        .instagram {
            margin-left: .5rem;

            .align:hover {
                background-color: #E73E51;
            }
        }
    }
    .right {
        float: right;
        .search {
            .iblock();
            background-color: #2d2d2d;
            position: relative;
            &.focus {
                .transition(background-color .3s @io-cubic);
                background-color: @main-color;
                .common-form {
                    .transition(background-color .3s @io-cubic);
                    background-color: @main-color;
                    input:-webkit-autofill,
                    input:-webkit-autofill:hover,
                    input:-webkit-autofill:focus {
                        caret-color: fade(@white,70%)!important;
                        -webkit-text-fill-color: fade(@white,70%)!important;
                        -webkit-box-shadow: 0 0 0px 1000px @main-color inset!important;
                        transition: background-color 5000s ease-in-out 0s;
                    }
                    input {
                        background-color: @main-color;
                    }
                    button {
                        svg {
                            fill: @white;
                        }
                    }
                }
            }
            button {
                width: 22%;
                height: 11.5rem;
                border: 0 none;
                background-color: transparent;
                text-align: center;
                position: relative;
                svg {
                    .dim(2rem,2.1rem);
                    .iblock(middle);
                    .transition(fill .3s @io-cubic, transform .3s @i-quartic);
                    fill: @main-color;
                }
                html.desktop & {
                    &:hover {
                        svg {
                            .scale(1.1);
                            fill: @white;
                        }
                    }
                }
                &.toggle-search {
                    width: 8rem;
                    z-index: 2;
                    background-color: inherit;
                    background-color: #2d2d2d;
                }
            }
        }
        .common-form {
            .iblock();
            .fsize(0);
            .transition(background-color .3s @io-cubic);
            width: 33.5rem;
            background-color: #2d2d2d;
            input:-webkit-autofill,
            input:-webkit-autofill:hover,
            input:-webkit-autofill:focus {
                caret-color: fade(@white,70%)!important;
                -webkit-text-fill-color: fade(@white,70%)!important;
                -webkit-box-shadow: 0 0 0px 1000px #2d2d2d inset!important;
                transition: background-color 5000s ease-in-out 0s, -webkit-box-shadow .3s @io-cubic;
            }
            input {
                .iblock(middle);
                .placeholder(fade(@white,70%));
                .font-light(15);
                .box-sizing(border-box);
                .transition(background-color .3s @io-cubic);
                width: 78%;
                padding: 1.5rem 0 1.5rem 10%;
                height: 5rem;
                line-height: 2rem;
                border: 0;
                color: fade(@white,70%);
                text-transform: uppercase;
                background-color: #2d2d2d;
            }
            button {
                .iblock(middle);
            }
        }
        .access {
            .iblock(middle);
            width: 25.6rem;
            position: relative;
            .access-link {
                .iblock();
                .dim(100%,11.5rem);
                text-align: center;
                position: relative;
                svg {
                    .iblock(middle);
                    .dim(1.9rem,1.9rem);
                    .transition(.3s fill .3s @io-cubic);
                    margin-right: 1.8rem;
                    fill: fade(@white, 70%);
                    position: relative;
                    z-index: 2;
                }
                strong {
                    .iblock(middle);
                    .font-black(11);
                    .transition(.3s color .3s @io-cubic);
                    text-transform: uppercase;
                    color: fade(@white, 70%);
                    position: relative;
                    z-index: 2;
                    max-width: calc(~'100% - 6rem');
                    line-height: normal;
                    margin-top: .2rem;
                }
            }
            button.access-link {
                width: 100%;
                padding-left: 2rem;
                padding-right: 3rem;
                text-align: left;
                position: relative;
                background-color: inherit;
                border: none;
                z-index: 2;
                background-color: @background-color;
                .avatar {
                    .iblock(middle);
                    .dim(5rem,5rem);
                    .border-radius(5rem);
                    border: 1px solid fade(@white, 20%);
                    text-align: center;
                    line-height: 4.8rem;
                    margin-right: 1rem;
                    position: relative;
                    z-index: 2;
                    overflow: hidden;
                    svg {
                        margin: 0;
                    }
                    .lazyload {
                        .dim(100%,100%);
                        .iblock();
                        .loader-container{
                            max-width: 44px;
                            max-height: 15%;
                            div {
                                background-color: @white;
                            }
                        }
                    }
                }
                &:before {
                    .dim(100%, 100%);
                    .postl(0,0);
                    .translateY(-100%);
                    background-color: @main-color;
                    content: '';
                    z-index: 1;
                    .animating & {
                        .transition(.3s transform .3s @o-quartic);
                    }
                }
                .fa {
                    .postr(50%,1.5rem);
                    .translateY(-50%);
                    .fsize(18);
                    .transition(.2s transform .3s @i-quartic,.3s color .3s @io-cubic);
                    color: fade(@white, 70%);
                    z-index: 2;
                }

            }
            .user-menu {
                .postl(100%,0);
                .dim(100%);
                .border-radius(0 0 10px 10px);
                .translateY(-100%);
                background-color: @main-color;
                line-height: normal;
                z-index: 1;
                .animating & {
                    .transition(transform .3s @i-quartic);
                }
                .menu-list {
                    .iblock();
                    .opacity(0);
                    .transition(opacity .3s @io-cubic);
                    width: 100%;
                    padding: 0 3.9rem 1rem;
                    border-bottom: .1rem solid #dd4d52;
                }
                .menu-data {
                    .iblock();
                    width: 100%;
                    .user-menu-link {
                        .iblock();
                        .font-black(11);
                        .transition(color .3s @io-cubic);
                        position: relative;
                        color: @white;
                        text-transform: uppercase;
                        padding: .4rem 0;
                        margin-bottom: .8rem;
                        &:hover {
                            color: @dark-gray;
                        }
                    }
                }
                .exit {
                    .iblock();
                    .dim(100%,5.3rem);
                    .opacity(0);
                    .transition(opacity .3s @io-cubic);
                    padding: 0 3.9rem;
                    line-height: 5.3rem;
                    svg {
                        .iblock(middle);
                        .dim(1.8rem,1.6rem);
                        .transition(fill .3s @io-cubic);
                        fill: @white;
                        margin-right: .8rem;
                    }
                    span {
                        .iblock(middle);
                        .font-black(11);
                        .transition(color .3s @io-cubic);
                        color: @white;
                        text-transform: uppercase;
                        position: relative;
                    }
                    &:hover {
                        span {
                            color: @dark-gray;
                        }
                        svg {
                            fill: @dark-gray;
                        }
                    }
                }
            }
            &.doing {
                .access-link {
                    &:before {
                        .animating & {
                            .transition(transform .3s @i-quartic);
                        }
                        .translateY(0);
                    }
                    strong, .fa {
                        .transition(color .3s @io-cubic, transform .3s @i-quartic);
                        color: @white;
                    }
                    .fa {
                        .transform(translateY(-50%) rotate(180deg));
                    }
                    svg {
                        .transition(fill .3s @io-cubic);
                        fill: @white;
                    }
                }
                .user-menu {
                    .animating & {
                        .transition(.3s transform .3s @o-quartic);
                    }
                    .translateY(0);
                    .menu-list, .exit {
                        .transition(.6s opacity .3s @io-cubic);
                        .opacity(1);
                    }
                }
            }
        }
        .cart {
            .iblock();
            .cart-link {
                .iblock();
                .dim(8rem);
                .transition(.3s background-color .3s @io-cubic);
                text-align: center;
                background-color: #2d2d2d;
                cursor: default;
                position: relative;
                overflow: hidden;
                &.active {
                    cursor: pointer;
                    background-color: @main-color;
                    .transition(background-color .3s @io-cubic);
                    span {
                        .translateY(0);
                    }
                    html.desktop & {
                        &:hover {
                            background-color: #a11217;
                        }
                    }
                }
            }
            svg {
                .iblock(middle);
                .dim(3.7rem, 3.4rem);
                .transition(transform .3s @io-cubic);
                fill: @white;
            }
            span {
                .postr(0,0);
                .dim(2.5rem,2.3rem);
                .border-radius(0 0 0 3px);
                .font-regular(12);
                .transition(transform .3s @io-cubic);
                .translateY(-100%);
                background-color: @white;
                color: @main-color;
                line-height: 2.3rem;
                text-align: center;
            }
        }
    }
}
@media screen and (max-width: 1430px) {
    #header {
        .contact {
            width: calc(~'100% - 83rem');
        }
        .right {
            .common-form {
                width: 29.8rem;
            }
            .access {
                width: 21.6rem;
            }
        }
    }
}
@media screen and (max-width: 1325px) {
    #header {
        .contact {
            .contact-list {
                .iblock(middle);
                margin-right: 3.5rem;
            }
            .contact-data {
                line-height: normal;
                display: block;
                margin-left: 0;
                &:first-child {
                    margin-bottom: 1rem;
                }
            }
        }
    }
}
@media screen and (max-width: 1160px) {
    #header {
        .contact {
            width: calc(~'100% - 63rem');
        }
        .right {
            .search {
                .toggle-search {
                    .iblock(middle);
                }
                .common-form {
                    .postl(0,0);
                    .translateY(0);
                    .opacity(0);
                    width: 37.8rem;
                    line-height: 8rem;
                    visibility: hidden;
                    .animating & {
                        .transition(background-color .3s @io-cubic, opacity .4s @io-cubic, transform .4s @io-cubic, visibility .4s @io-cubic);
                    }
                    button {
                        height: 7rem;
                    }
                }
                &.open {
                    .common-form {
                        .opacity(1);
                        .translateY(11.5rem);
                        visibility: visible;
                    }
                }
            }
        }
    }
}
@media screen and (max-height: 660px) {
    #header {
        .dim(100%,8rem);
        line-height: 8rem;
        .logo {
            width: 19.2rem;
            a {
                img {
                    max-width: 16rem;
                }
            }
        }
        .right {
            .search {
                button {
                    height: 7rem;
                }
            }
            .access {
                .access-link {
                    .dim(100%,8rem);
                }
            }
        }
    }
}
@media screen and (max-height: 660px) and (max-width: 1160px) {
     #header {
        .right {
            .search {
                &.open {
                    .common-form {
                        .translateY(8rem);
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 960px) {
    @import url('_m.header.less');
}
@media screen and (max-width: 320px) {
    #header {
        .logo {
            a {
                img {
                    max-width: 10rem;
                }
            }
        }
        .toggle-menu {
            margin: 0 .3rem;
        }
    }
}