/*
    Document   : lazyload.less
    Created on : 31/07/2015
    Author     : Ralf da Rocha
    Description: Estilos do plugin lazyload
*/
@import url('_variables.less');
.lazyload{
    display: block;
    position: relative;
    vertical-align: middle;
    text-align: center;
    .lazyload-image{
        .iblock(middle);
        .opacity(1);
        position: relative;
        .transition(opacity 0.5s cubic-bezier(.69,.69,.39,.99));
        z-index: 2;
    }
    img.lazyload-image{
        .iblock(middle);
        line-height: normal;
    }
    div.lazyload-image{
        background-position: 50% 50%;
        .background-size(cover);
        .dim(100%,100%);
    }
    .loader-container{
        .opacity(0);
        .postl(50%,50%);
        .translate(-50%,-50%);
        max-width: 90%;
        max-height: 90%;
        .transition(opacity 0.3s cubic-bezier(.69,.69,.39,.99));
        z-index: 1;
        line-height: normal;
    }
    &.loading{
        .lazyload-image{
            .opacity(0);
            z-index: 1;
        }
        .loader-container{
            .opacity(1);
            z-index: 4;
        }
    }
    &.loaded {
        .loader-container{
            display: none;
        }
    }
    &.robot {
        img {
            object-fit: cover;
            object-position: 50% 50%;
        }
        .loader-container{
            display: none !important;
        }
    }
}