#footer {
    padding-left: 0;
    margin-top: 0;
    text-align: center;
    .footer-limiter {
        max-width: 100%;
        padding-right: 0;
    }
    .newsletter {
        line-height: normal;
        padding: 2.4rem 2.2rem;
        .intro {
            width: 100%;
            margin-bottom: 2rem;
            svg {
                .dim(4.9rem,4.2rem);
                margin-right: 1rem;
                margin-left: -1rem;
            }
            .desc {
                .font-black(21);
                line-height: 2.2rem;
                text-align: left;
            }
        }
        .common-form {
            width: 100%;
        }
    }
    .footer-title {
        .font-black(14);
        margin-bottom: 1.2rem;
    }
    .company-info {
        border-top: .2rem solid fade(@white, 20%);
        padding-top: 0;
        margin-bottom: 0;
        .contact {
            width: 100%;
            padding: 3.3rem 2rem 1.5rem;
            margin-right: 0;
            &:before {
                .postl(-.2rem,50%);
                .translateX(-50%);
                .dim(4.3rem,.2rem);
            }
            .address {
                .font-regular(16);
                margin-bottom: 1.5rem;
            }
            .contact-data {
                margin-bottom: 1.5rem;
                .icon {
                    .dim(2.4rem, 2.4rem);
                }
                .number {
                    .font-black(27);
                    margin-left: 1.3rem;
                }
                .text {
                    .font-regular(16);
                }
                .whats, .phone {
                    pointer-events: auto;
                }
            }
        }
        .service {
            border-top: .2rem solid fade(@white, 20%);
            width: 100%;
            padding: 3.3rem 3rem 3rem;
            &:before {
                .postl(-.2rem,50%);
                .dim(4.3rem,.2rem);
                .translateX(-50%);
            }
            .desc {
                .font-light(16);
                margin-bottom: 2.5rem;
                line-height: 2.1rem;
                margin-top: -.2rem;
            }
            .facebook {
                .icon {
                    .dim(5.6rem,5.6rem);
                    .border-radius(6rem);
                    line-height: 5.6rem;
                    svg {
                        max-height: 2.9rem;
                    }
                }
                .like {
                    .font-black(15);
                    margin-left: 1.4rem;
                }
                &:hover {
                    .icon {
                        svg {
                            fill: #fff;
                        }
                    }
                }
            }
        }
    }
    .site-info {
        border-top: .2rem solid fade(@white, 20%);
        padding: 0;
        margin-bottom: 0;
        .payment {
            width: 100%;
            padding: 3.3rem 0 3rem;
            &:before {
                .postl(-.2rem,50%);
                .dim(4.3rem,.2rem);
                .translateX(-50%);
            }
            .sub-title {
                .font-black(11);
                margin: 1rem 0 1rem;
            }
            .cards {
                margin-bottom: 1.5rem;
                width: 100%;
                .flag-data {
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
            .slip {
                width: 100%;
            }
        }
        .certificate {
            width: 100%;
            padding: 3.3rem 0 3rem;
            border-top: .2rem solid fade(@white, 20%);
            &:before {
                .postl(-.2rem,50%);
                .dim(4.3rem,.2rem);
                .translateX(-50%);
            }
            .certificate-list {
                margin-top: .5rem;
            }
            .certificate-data {
                margin-right: 1rem;
                &:last-child {
                    margin-right: 0;
                }
                a {
                    .dim(13rem,5.4rem);
                    line-height: 5.4rem;
                }
            }
        }
    }
    .final-info {
        border-top: 0 none;
        padding-top: 1rem;
        margin-bottom: 5rem;
        .storetrooper {
            width: 100%;
        }
    }
}
@media screen and (max-width: 1330px) {
    #footer {
        .final-info {
            .text {
                padding-right: 6rem;
            }
        }
    }
}
@media screen and (max-width: 1160px) {
    #footer {
        .newsletter {
            .intro {
                width: 29.8rem;
                .desc {
                    .fsize(14);
                    line-height: 1.6rem;
                }
            }
            .common-form {
                width: calc(~'100% - 29.8rem');
            }
        }
        .company-info {
            .contact {
                width: 40%;
                padding-right: 2rem;
            }
            .sitemap {
                width: 25%;
                padding-right: 2rem;
            }
            .service {
                width: 35%;
            }
        }
        .site-info {
            .payment {
                width: calc(~'100% - 28.8rem');
            }
            .certificate {
                width: 28.8rem;
            }
        }
    }
}