#wrapper {
    // overflow-x: hidden;
    body.filter-open & {
        overflow: hidden;
    }
    body.menu-fix & {
        &:before {
            display: none;
        }
    }
}
.desktop-only {
    display: none!important;
}
#content {
    .iblock();
    .translateX(0);
    width: 100%;
    padding-top: 6.6rem;
    &:after {
        content: none;
    }
    body.menu-open & {
        .translateX(31rem);
    }
    main {
        .border-radius(0);
    }
}
.common-header {
    height: auto;
    border-width: .2rem;
    text-align: center;
    .page-data {
        padding: 0 2rem 2.3rem;
        width: 100%;
    }
    .text {
        width: 100%;
        .icon {
            .iblock();
            margin-right: 0;
            margin-bottom: 1.4rem;
            svg {
                height: 5rem;
            }
        }
    }
    .breadcrumbs {
        .iblock();
        .dim(100%,5.6rem);
        line-height: 5.6rem;
        margin-bottom: 0;
        .breadcrumb-data {
            .iblock(middle);
        }
    }
    .title {
        line-height: 3rem;
        text-align: center;
    }
}

.common-pagination {
    .pagination-list {
        vertical-align: bottom;
        .pagination-data {
            margin-right: .8rem;
            a, span  {
                .dim(4.6rem, 4.6rem);
                .font-bold(20);
            }
            a {
                line-height: 4.4rem;
                border: .1rem solid #e5e5e5;
            }
            span {
                line-height: 4.6rem;
            }
            &.first, &.last {
                a {
                    .fsize(22);
                }
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .common-form {
        margin-left: 1.4rem;
        width: 12rem;
        label {
            .font-black(13);
            margin-right: 0;
            margin-bottom: 1rem;
        }
        input {
            .dim(6.6rem, 4.6rem);
            .fsize(18);
            margin-right: .3rem;
            border-width: .1rem;
        }
        button[type="submit"] {
            .dim(4.6rem, 4.6rem);
            .fa {
                .fsize(22);
            }
        }
    }
}

.common-back {
    .dim(5rem, 5rem);
    .border-radius(5rem);
    background-color: @white;
    border: .2rem solid #d9d9d9;
    svg {
        .dim(2.2rem, 2rem);
    }
    html.desktop & {
        &:hover {
            border: 2.5rem solid @dark-gray;
        }
    }
}

#cart-notification{
    .actions-side{
        .common-button {
            width: 100%;
            margin-left: 0;
            margin-top: 1rem;
        }
    }
}

#payment-conditions {
    .content-box {
        padding: 3rem;
    }
    .title {
        .font-black(18);
        margin-bottom: 2rem;
    }
    .conditions-list {
        .conditions-data {
            div {
                .font-regular(12);
            }
        }
    }
}
.common-advantages {
    .advantage-list {
        .desc {
            span{
                display: none;
            }
        }
    }
}