#navigation {
    .translateX(-100%);
    .user-select(none)!important;
    top: 6.6rem;
    width: 31rem!important;
    height: calc(~'100% - 6.6rem');
    padding-top: 0;
    overflow-y: scroll;
    background-color: @background-color;
    .animating & {
        .transition(transform .2s @i-quadradic);
    }
    body.menu-open & {
        .translateX(0);
    }
    body.submenu-open & {
        .menu {
            .translateX(-100%);
        }
        .submenu.current {
            width: 31rem!important;
            .category, .submenu-list {
                .opacity(1);
            }
        }
    }
    .menu {
        height: auto;
        max-height: none;
        .animating & {
            .transition(transform .2s @i-cubic);
        }
        .menu-list {
            position: static;
            .menu-data {
                height: 7.5rem;
                &.doing {
                    .submenu {
                        width: 0;
                    }
                    .icon {
                        svg {
                            fill: fade(@white, 20%);
                        }
                    }
                    .title {
                        color: fade(@white, 20%);
                    }
                    .fa {
                        color: fade(@white, 20%);
                    }
                    .link {
                        &:after {
                            .translateX(100%);
                        }
                    }
                }
                &.current {
                    .icon {
                        svg {
                            fill: @main-color;
                        }
                    }
                    .title {
                        color: @white;
                    }
                    .fa {
                        color: fade(@white, 50%);
                    }
                    &:hover {
                        .link {
                            &:after {
                                .translateX(0);
                            }
                        }
                    }
                }
                &:first-child {
                    .link {
                        .icon {
                            svg {
                                max-width: 95%;
                            }
                        }
                    }
                }
            }
        }
        .menu-info {
            .iblock();
            width: 100%;
            padding: 1.5rem 0;
            border-top: .1rem solid #393939;
            .menu-data {
                border: 0 none;
                line-height: 4.7rem;
                height: auto;
                .link {
                    .font-light(16.5);
                    color: fade(@white, 20%);
                }
            }
        }
        .link {
            padding-left: 2rem!important;
            .icon {
                margin-right: 2rem;
                svg {
                    max-width: 90%;
                }
            }
            .title {
                .font-black(13);
            }
            .fa {
                .opacity(1);
                right: 1.5rem;
            }
        }
    }
    .submenu {
        .postr(0rem,0);
        padding-top: 0;
        height: 100%;
        overflow-y: scroll;
        .animating & {
            .transition(width .2s @i-cubic)!important;
        }
        .submenu-back {
            .iblock();
            .font-black(13);
            text-transform: uppercase;
            color: fade(@white, 20%);
            height: 5.7rem;
            line-height: 5.7rem;
            padding-left: 2.75rem;
            background-color: transparent;
            border: 0 none;
            width: 100%;
            border-bottom: .1rem solid #393939;
            text-align: left;
            .fa {
                .iblock(middle);
                .fsize(18);
                margin-right: 1.5rem;
                color: fade(@white, 20%)!important;
            }
            span {
                .iblock(middle);
            }
        }
        .submenu-list {
            padding-left: 0;
            padding-top: 1.2rem;
        }
        .submenu-data {
            margin-bottom: 0;
            .sub-title {
                .font-black(13);
                padding: 1.8rem 2.9rem;
                width: 100%;
            }
        }
    }
}