//=====================================
//  IMPORTS
//=====================================
@import '../../../comum/assets/css/normalize.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');
@import '../../../comum/assets/less/_variables.less';
@import '../../../comum/assets/less/_fonts.less';
@import '../../../comum/assets/less/_reset.less';
@import '../../../comum/assets/less/_dialog.less';
@import '../../../comum/assets/less/_lazyload.less';
@import '../../../comum/assets/plugins/fontawesome/less/font-awesome.less';
@import '../../../comum/assets/plugins/simplebar/simplebar.css';
@import '../../../comum/assets/plugins/colorbox/_colorbox.less';
@import '../../../comum/assets/less/_forms.less';
@import '../../../comum/assets/less/_preloader.less';

//=====================================
//  NAVIGATION
//=====================================
@import '_navigation.less';
//=====================================
//  HEADER
//=====================================
@import '_header.less';
//=====================================
//  FOOTER
//=====================================
@import '_footer.less';
//=====================================
//  CONTENT
//=====================================

.preload * {
    .transition(none) !important;
}
body.mobile {
    * {
        cursor: pointer;
    }
}

//CSS SIMPLEBAR
.simplebar-scroll-content {
    box-sizing: content-box!important;
}
.simplebar-track {
    z-index: 2;
    &.horizontal {
        display: none;
    }
}
.simplebar-scrollbar {
    background-color: @main-color;
    right: 0;
    width: 4px;
}
#wrapper {
    .dim(100%,100%);
    .fsize(0);
    position: relative;
    html.desktop & {
        &:before {
            .dim(27.1rem,14.1rem);
            .postl(0,0);
            display: none;
            content: '';
            z-index: 4;
        }
    }
    body.menu-fix & {
        &:before {
            display: block;
        }
    }
}
#content {
    .iblock();
    .translateX(27.1rem);
    width: calc(~'100% - 27.1rem');
    position: relative;
    padding-top: 11.5rem;
    z-index: 1;
    overflow: hidden;
    .animating & {
        .transition(transform .2s @i-quadradic);
    }
    main, footer {
        position: relative;
        z-index: 2;
    }
    &:after {
        .posbl(0,55rem);
        .dim(108.7rem,72.4rem);
        background-color: @background-color;
        background-image: url('@{img}page-background.png');
        background-repeat: no-repeat;
        background-position: right bottom;
        content: '';
        z-index: 1;
    }
    main {
        .iblock();
        .border-radius(3rem 0 0 3rem);
        width: 100%;
        overflow: hidden;
        background-color: @white;
    }
    .filter-open & {
        z-index: 2;
    }
}
.mobile-only {
    display: none;
}
.common-text {
    .font-light(15);
    color: @text-color;
    p {
        margin-bottom: 1.7rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
    strong {
        .font-bold(15.5);
    }
    img {
        .block();
        max-width: 100%;
        margin: 10px auto;
    }
    iframe, embed, object, video, audio {
        max-width: 100%;
    }
    ul, ol {
        margin: 15px 0;
        li {
            list-style-type: disc;
            margin-bottom: 5px;
            list-style-position: inside;
        }
    }
}

.common-button{
    .iblock();
    .border-radius(.3rem);
    .fsize(0);
    .transition(border-color 0.3s @io-sine);
    background-color: @white;
    border: .2rem solid @dark-gray;
    height: 4.5rem;
    padding: 0 2.2rem;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    span, .fa, svg {
        .iblock(middle);
        .transition(color 0.3s @io-sine, fill 0.3s @io-sine, .2s transform .3s @i-cubic);
        position: relative;
        z-index: 2;
        color: @white;
        fill: @white;
    }
    span {
        .font-black(12);
    }
    .fa, svg {
        margin-right: 1.5rem;
    }
    &:before{
        .postl(0,0);
        .scale(1);
        .transform(50%);
        .transition(transform .3s @o-cubic);
        content: "";
        z-index: 1;
        bottom: 0;
        right: 0;
        background-color: @dark-gray;
    }
    &:hover, &:active, &:focus {
        &:before {
            .scaleY(0);
            .transform(100%);
        }
        span, .fa, svg {
            color: @dark-gray;
            fill: @dark-gray;
        }
    }
    .loader-container {
        .postl(50%, 50%);
        .dim(55px,9px);
        .opacity(0);
        .transform(translate(-50%,-50%) scale(2));
        .transition(opacity .4s @io-cubic, visibility .4s @io-cubic, .2s transform .4s @i-cubic);
        visibility: hidden;
        z-index: 3;
    }
    &.loading, &.sending {
        span, .fa, svg {
            .transition(color .4s @io-sine, fill .4s @io-sine, transform .4s @i-cubic);
            .scale(0);
        }
        .loader-container {
            .transition(.2s opacity .4s @io-cubic, .2s visibility .4s @io-cubic, transform .4s @i-cubic);
            .transform(translate(-50%,-50%) scale(1));
            .opacity(1);
            visibility: visible;
        }
    }
}
a.common-button {
    line-height: 4.1rem;
}

.common-arrows {
    .iblock();
    width: 100%;
    text-align: center;
    display: none;
    .arrow {
        .iblock();
        .dim(4.2rem, 4.2rem);
        .border-radius(3rem);
        .transition(background-color .3s @io-cubic, border .3s @io-cubic, color .3s @io-cubic, text-indent .3s @io-cubic);
        .fsize(20);
        background-color: @white;
        color: @main-color;
        text-align: center;
        border: none;
        &.next {
            text-indent: .1rem;
        }
        &.prev {
            text-indent: -.1rem;
        }
        &:last-child {
            margin-left: .7rem;
        }
        &:hover {
            color: @white;
            background-color: @dark-gray;
        }
        .fa {
            font-weight: bold;
        }
    }
    &.reverse {
        .arrow {
            color: @white;
            background-color: @dark-gray;
            &:hover {
                background-color: @white;
                color: @dark-gray;
            }
        }
    }
}

.common-dots {
    .iblock();
    width: 100%;
    ul {
        .iblock();
        .fsize(0);
        padding-top: 2.7rem;
        text-align: center;
        width: 100%;
        li {
            .iblock();
            margin: .4rem;
            button {
                .dim(1.2rem, 1.2rem);
                .iblock();
                .border-radius(1rem);
                .transition(border .3s @i-cubic);
                background-color: transparent;
                border: .2rem solid @white;
            }
            &.slick-active {
                button {
                    border-width: .6rem;
                }
            }
        }
    }
}

.common-header {
    .iblock();
    .dim(100%, 12.7rem);
    border-bottom: .1rem solid #e2e2e2;
    .page-data {
        .iblock();
        padding: 3.7rem 0 0 4rem;
        width: calc(~'100% - 34rem');
        white-space: nowrap;
    }
    .icon {
        .iblock();
        margin-right: 2.2rem;
        svg {
            fill: @main-color;
            height: 5rem;
            width: auto;
            margin-top: .1rem;
        }
    }
    .text {
        .iblock();
        white-space: normal;
        .icon {
            display: none;
        }
        &.results {
            margin-top: -1rem;
        }
    }
    .breadcrumbs {
        .iblock();
        margin-bottom: .5rem;
        width: 100%;
        .breadcrumb-data {
            .iblock();
            .font-light(12);
            color: @text-color;
            text-transform: uppercase;
            &:after {
                content: "\f105";
                font: normal normal normal 14px/1 FontAwesome;
                -webkit-font-smoothing: antialiased;
                .fsize(16);
                .iblock(middle);
                margin: -.2rem 1rem 0;
                color: @text-color;
                font-weight: bold;
            }
            a, strong {
                .iblock(middle);
            }
            strong {
                .font-bold(12);
            }
            &:last-child {
                &:after {
                    content: none;
                }
            }
        }
    }
    .title {
        .iblock();
        .font-black(30);
        text-transform: uppercase;
        width: 100%;
    }
    .search {
        .iblock();
        .font-light(14);
        color: @text-color;
        text-transform: uppercase;
        strong {
            .font-black(16);
        }
    }
}

.common-pagination {
    .iblock();
    width: 100%;
    margin-top: 3.1rem;
    text-align: center;
    .pagination-list {
        .iblock();
        .fsize(0);
        .pagination-data {
            .iblock();
            margin-right: .6rem;
            background-color: transparent;
            border: 0 none;
            a, span  {
                .dim(3.6rem, 3.6rem);
                .iblock();
                .border-radius(.3rem);
                .font-bold(16);
                text-align: center;
            }
            a {
                .transition(border-color .3s @io-cubic);
                line-height: 3.2rem;
                border: .2rem solid #e5e5e5;
                color: @text-color;
                &:hover {
                    border-color: @text-color;
                }
            }
            span {
                line-height: 3.6rem;
                color: @white;
                background-color: @main-color;
                cursor: default;
            }
            &.first, &.last {
                a {
                    .fsize(18);
                    .transition(text-indent .3s @io-cubic, border-color .3s @io-cubic);
                    font-weight: bold;
                    color: @main-color;
                }
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
    .common-form {
        .iblock();
        .fsize(0);
        margin-left: 6rem;
        label {
            .iblock(middle);
            .font-black(12);
            padding-top: .2rem;
            color: @text-color;
            margin-right: 1rem;
        }
        input {
            .iblock(middle);
            .dim(5.1rem, 3.6rem);
            .border-radius(.3rem);
            margin-right: .3rem;
            border-width: .2rem;
            padding: 1rem 0;
            text-align: center;
            .appearance(none)!important;
            -moz-appearance: textfield!important;
        }
        button[type="submit"] {
            .iblock(middle);
            .dim(3.6rem, 3.6rem);
            .border-radius(.3rem);
            .transition(background-color .3s @io-cubic);
            border-width: .2rem;
            padding: 0;
            .fa {
                .fsize(18);
                .transition(text-indent .2s @i-cubic, color .3s @io-cubic);
                color: @white;
                text-indent: .2rem;
                margin-right: 0;
            }
            &:hover {
                .fa {
                    color: @dark-gray;
                    font-weight: bold;
                }
            }
        }
    }
}

.common-advantages {
    .iblock();
    .dim(100%, 8.1rem);
    background-color: @text-color;
    margin-top: 3.5rem;
    .advantage-list {
        .iblock();
        .fsize(0);
        .dim(100%, 8.1rem);
        line-height: 8.1rem;
    }
    .advantage-data {
        .iblock(middle);
        width: calc(~'100% / 4');
        text-align: center;
        line-height: normal;
        .icon {
            .dim(auto, 3.8rem);
            .iblock(middle);
            line-height: 3.8rem;
            margin-right: 1.5rem;
            svg {
                .iblock(middle);
                height: 100%;
                fill: @white;
                line-height: normal;
            }
        }
        .desc {
            .font-light(14);
            .iblock(middle);
            color: fade(@white,70%);
        }
        &.shipping {
            .icon {
                margin-right: 1.8rem;
                svg {
                    height: 2.7rem;
                    margin-top: 0;
                }
            }
        }
    }
}

.common-empty {
    .iblock();
    .font-black(22);
    width: 100%;
    margin: 6rem 0;
    text-align: center;
    text-transform: uppercase;
    color: @extralight-gray;
}

.common-back {
    .iblock();
    .dim(6.2rem, 6.2rem);
    .border-radius(6rem);
    .transition(background-color .3s @io-cubic, border .3s @io-cubic);
    background-color: @white;
    border: .3rem solid #d9d9d9;
    text-align: center;
    position: relative;
    z-index: 3;
    svg {
        .postl(50%,50%);
        .dim(2.5rem, 2.3rem);
        .transition(color .3s @io-cubic);
        .iblock(middle);
        .translate(-50%, -50%);
        fill: @dark-gray;
    }
    html.desktop & {
        &:hover {
            border: 3.1rem solid @dark-gray;
            background-color: @dark-gray;
            svg {
                fill: @white;
            }
        }
    }
}

#payment-conditions {
    body.installments-open & {
        .transition(opacity .2s @io-cubic,visibility .2s @io-cubic);
        .opacity(1);
        visibility: visible;
        .content-box {
            .transition(.3s opacity .1s @io-cubic, .3s visibility .1s @io-cubic, .3s transform .1s @io-cubic);
            .opacity(1);
            visibility: visible;
            .translate(-50%,-50%);
        }
    }
}
#debt-account-modal {
    text-align: center;

    body.debt-account-open & {
        .transition(opacity .2s @io-cubic,visibility .2s @io-cubic);
        .opacity(1);
        visibility: visible;
        .content-box {
            .transition(.3s opacity .1s @io-cubic, .3s visibility .1s @io-cubic, .3s transform .1s @io-cubic);
            .opacity(1);
            visibility: visible;
            .translate(-50%,-50%);
        }
    }
}
#payment-conditions, #debt-account-modal {
    .dim(100%,100%);
    .transition(.3s opacity .2s @io-cubic,.3s visibility .2s @io-cubic);
    .opacity(0);
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    .overlay {
        .dim(100%,100%);
        .postl(0,0);
        background-color: fade(@black, 50%);
        cursor: pointer;
    }
    .common-text {
        a {
            color: @main-color;
        }
    }
    .content-box {
        .postl(50%,50%);
        .translate(-50%,calc(~'-50% - 2rem'));
        .border-radius(.3rem);
        .transition(opacity .3s @io-cubic,visibility .3s @io-cubic, transform .3s @io-cubic);
        .opacity(0);
        visibility: hidden;
        width: 44rem;
        max-width: calc(~'100% - 2rem');
        background-color: @white;
        padding: 3.4rem 4rem;
    }
    .common-button {
        .dim(3.2rem,3.2rem);
        .postl(0,50%);
        .translate(-50%,-50%);
        padding: 0;
        line-height: 2.8rem;
        text-align: center;
        border-color: @main-color;
        svg {
            .dim(1.4rem,1.4rem);
            margin-right: 0;
        }
        &:before {
            background-color: @main-color;
        }
        &:hover, &:active, &:focus {
            span, .fa, svg {
                color: @main-color;
                fill: @main-color;
            }
        }
    }
    .title {
        .iblock();
        .font-black(20);
        color: @dark-gray;
        width: 100%;
        text-align: center;
        margin-bottom: 2.6rem;
    }
    .conditions-list {
        .iblock();
        width: 100%;
        .conditions-data {
            .iblock();
            .fsize(0);
            width: 100%;
            margin-bottom: 1.3rem;
            div {
                .font-regular(14);
                color: @text-color;
            }
            &:last-child {
                margin-bottom: 0;
            }
            .installments {
                .iblock();
                width: 10%;
            }
            .price {
                .iblock();
                width: 34%;
            }
            .rate {
                .iblock();
                width: 23%;
            }
            .total {
                .iblock();
                width: 33%;
            }
        }
    }
}

#cart-notification{
    position: fixed;
    top: 0;
    left: 0;
    .box-shadow(0px 8px 12px -4px fade(#000,15%));
    background: #fff;
    .limiter();
    padding: 20px;
    z-index: 1001;
    visibility: hidden;
    .translateY(-120%);
    .transition(transform 0.4s @o-quadradic, visibility 0s linear 0.4s);
    &.open{
        visibility: visible;
        .translateY(0%);
        .transition(transform .5s @o-exponential, visibility 0s linear 0s);
    }
    .common-limiter{
        .fsize(0);
    }
    .product-side{
        .iblock(middle);
        width: 60%;
        .title{
            .font-regular(13);
            line-height: 19px;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
        .product-preview{
            .fsize(0);
            position: relative;
            .product-image{
                background: #fff;
                border: 1px solid #ededed;
                .dim(110px,104px);
                .iblock(top);
                img{
                    .block();
                }
            }
            .product-info{
                .iblock(top);
                padding-left: 28px;
                width: calc(~'100% - 110px');
            }
            .product-title{
                .font-bold(20);
                margin-bottom: 8px;
            }
            .product-price{
                .font-black(16);
                color: @main-color;
            }
        }
    }
    .actions-side{
        .fsize(0);
        .iblock(middle);
        width: 40%;
        .common-button{
            width: calc(~'50% - 4px');
            margin-left: 8px;
            &:first-child{
                margin-left: 0;
            }
        }
    }
}
.common-rating {
    .iblock();
    .fsize(0);
    .star {
        .iblock();
        margin: 0 .1rem;
        svg {
            .dim(1.4rem,1.4rem);
            fill: @extralight-gray;
        }
        &.full {
            svg {
                fill: #ffba00;
            }
        }
    }
}

#colorbox{
    .newsletter {
        background: #1e1e1e;
        line-height: 11.2rem;
        padding: 50px 30px;
        .intro {
            display: block;
            width: 39rem;
            margin: 0 auto 30px;
            line-height: normal;
            svg {
                .iblock(middle);
                .dim(5.7rem, 5.1rem);
                margin-right: 1.7rem;
                fill: @text-color;
            }
            .desc {
                .iblock(middle);
                .font-black(20);
                color: @text-color;
                text-transform: uppercase;
                line-height: 2.2rem;
                strong {
                    display: block;
                    color: @white;
                }
            }
        }
        .form-group:last-child{
            margin-bottom: 0 !important;
        }
        .common-form {
            display: block;
            width: 100%;
            line-height: normal;
            position: relative;
            input:-webkit-autofill,
            input:-webkit-autofill:hover,
            input:-webkit-autofill:focus
            input:-webkit-autofill,
            textarea:-webkit-autofill,
            textarea:-webkit-autofill:hover
            textarea:-webkit-autofill:focus,
            select:-webkit-autofill,
            select:-webkit-autofill:hover,
            select:-webkit-autofill:focus {
                caret-color: fade(@white,70%)!important;
                -webkit-text-fill-color: @white!important;
                -webkit-box-shadow: 0 0 0px 1000px transparent inset!important;
                transition: background-color 5000s ease-in-out 0s;
            }
            .row {
                margin-bottom: 0;
            }
            input {
                .placeholder(@white);
                border-color: fade(@white, 20%);
                color: @white;
                height: 5rem;
                background-color: transparent;
                &:focus {
                    border-color: @white;
                }
            }
            input[type="email"] {
                padding-right: 4.4rem;
            }
            button[type="submit"] {
                .dim(4.4rem, 4.4rem);
                .posbr(0.2rem, .3rem);
                text-align: center;
                line-height: 4.4rem;
                background-color: transparent;
                border: none;
                padding: 0;
                &:before {
                    background-color: transparent;
                }
                svg {
                    .dim(1.8rem, 1.5rem);
                    .iblock(middle);
                    .transform(rotate(180deg) scale(1));
                    fill: @white;
                    margin-right: 0;
                }
                .loader-container {
                    width: 36px;
                    top:.9rem;
                    div {
                        width: calc(~'(100%/9) - 2px');
                        &:first-child, &:last-child {
                            display: none;
                        }
                    }
                }
            }
            &.sending {
                button[type="submit"] {
                    svg, span {
                        .transform(rotate(180deg) scale(0));
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 960px) and (max-width: 1366px) {
    #content {
        .animating & {
            .transition(.4s transform .2s @i-quadradic);
        }
    }
}

@media screen and (max-width: 1366px) {
    #header {
        .logo {
            a {
                margin-top: 0;
            }
        }
    }
    #content {
        .translateX(8rem);
        width: calc(~'100% - 8rem');
    }
}

@media screen and (max-width: 1060px) {
    .common-advantages {
        .dim(100%, 8.8rem);
        .advantage-list {
            .dim(100%, 8.8rem);
            line-height: 8.8rem;
        }
        .advantage-data {
            padding: 0 .5rem;
            .icon {
                margin-right: 0rem;
                margin-bottom: 1rem;
                line-height: 3rem;
            }
            .desc {
                .font-light(12);
                width: 100%;
            }
            &.shipping {
                .icon {
                    margin-right: 0rem;
                    margin-bottom: 1rem;
                    line-height: 4.4rem;
                }
            }
        }
    }
}

@media screen and (max-height: 660px) {
    #content {
        padding-top: 8rem;
    }
    #wrapper {
        html.desktop & {
            &:before {
                .dim(27.1rem,10.6rem);
            }
        }
    }
}

@media screen and (max-width: 960px) {
    @import url('_m.main.less');
}

@media screen and (max-width: 550px) {
    .common-pagination {
        .pagination-list {
            div {
                &:nth-of-type(5) {
                    display: none;
                }
            }
        }
    }
    #cart-notification{
        padding-top: 1.2rem;
        .product-side{
            .iblock(top);
            width: 100%;
            .title{
                margin-bottom: .5rem;
            }
            .product-preview{
                .product-image{
                    .dim(6rem,6rem);
                    img {
                        max-width: 100%;
                    }
                }
                .product-info{
                    .iblock(top);
                    padding-left: 1rem;
                    width: calc(~'100% - 6rem');
                }
                .product-title{
                    margin-bottom: 0;
                }
            }
        }
        .actions-side{
            .iblock(top);
            width: 100%;
            margin-top: .5rem;
            .common-button {
                width: calc(~'50% - 4px');
                margin-left: 8px;
                margin-top: 0;
            }
        }
    }
}
@media screen and (max-width: 490px) {
    .common-pagination {
        .pagination-list {
            div {
                &:nth-of-type(4) {
                    display: none;
                }
            }
        }
    }
}
@media screen and (max-width: 450px) {
    .common-pagination {
        .pagination-list {
            div {
                &:nth-of-type(3):not(.current) {
                    display: none;
                }
            }
        }
    }
}
@media screen and (max-width: 360px) {
    .common-pagination {
        .pagination-list, .common-form {
            width: 100%;
            text-align: center;
        }
        .common-form {
            margin-top: 2rem;
            margin-left: 0;
            label {
                margin-right: 1rem;
                margin-bottom: 0;
                padding-top: 0;
            }
        }
    }
    #payment-conditions {
        .content-box {
            padding: 2rem;
        }
    }
}
#colorbox {
    .newsletter {
        .intro:not(.black-friday){
            display: none;
        }
        .black-friday{
            .desc {
                .fsize(12.5px);

                strong {
                    .fsize(20px);
                    color: @main-color;
                }
            }
        }
    }
}