#navigation {
    width: 27.1rem;
    background-color: @background-color;
    position: fixed;
    top: 11.5rem;
    left: 0;
    z-index: 2;
    padding-top: 2.6rem;
    .animating & {
        .transition(width .2s @i-quadradic);
        .menu {
            .menu-data {
                .link {
                    .transition(.4s padding .2s @i-quadradic);
                }
            }
        }
    }
    .menu {
        .iblock();
        width: 100%;
        height: calc(~'100vh - 14.1rem');
        position: relative;
        /* min-height: 45rem;
        max-height: 77rem; */
        &:before {
            .dim(.4rem, 100%);
            .postl(0,0);
            content: '';
            background-color: @main-color;
            z-index: 2;
        }
        .menu-list {
            position: static;
            z-index: 1;
            height: 100%;
            overflow: hidden;
            width: 100%;
        }
        .menu-data {
            border-top: .1rem solid #393939;
            //height: calc(~'100% / 8');
            height: 6.5rem;
            &:last-child {
                border-bottom: .1rem solid #393939;
            }
            &.doing, &.current {
                .icon {
                    img {
                        .grayscale(0);
                        .opacity(1);
                    }
                }
                .title {
                    color: @white;
                }
                .fa {
                    color: fade(@white, 50%);
                }
                .link {
                    &:after {
                        .transition(transform .15s @i-cubic);
                        .translateX(0);
                    }
                }
            }
        }
        .link {
            .iblock();
            .dim(100%,100%);
            padding-left: 3.5rem;
            position: relative;
            overflow: hidden;
            background-color: transparent;
            border: 0 none;
            text-align: left;
            white-space: nowrap;
            .icon {
                .iblock(middle);
                position: relative;
                width: 4.4rem;
                text-align: center;
                margin-right: 2rem;
                z-index: 2;
                img {
                    .transition(filter .2s @io-cubic);
                    .grayscale(100%);
                    max-height: 4rem;
                }
            }
            .title {
                .iblock(middle);
                .font-black(12);
                .transition(color .2s @io-cubic);
                position: relative;
                text-transform: uppercase;
                color: fade(@white, 20%);
                z-index: 2;
                max-width: 14rem;
                white-space: pre-wrap;
            }
            .fa {
                .postr(50%,2rem);
                .fsize(18);
                .translateY(-50%);
                color: fade(@white, 10%);
                z-index: 2;
                .animating & {
                    .transition(color .2s @io-cubic, .2s opacity .3s @io-cubic);
                }
            }
            &:after {
                .dim(calc(~'100% - .2rem'), calc(~'100% + .2rem'));
                .postr(-.1rem,0);
                .translateX(100%);
                .transition(.2s transform .15s @i-cubic);
                content: '';
                background-color: @submenu-color;
                z-index: 1;
            }
        }
        a.link {
            .icon, .title {
                .translateY(-50%);
                top: 50%;
                vertical-align: top;
            }
        }
    }
    .submenu {
        .dim(0,100vh);
        .postr(-14.1rem,.1rem);
        .translateX(100%);
        background-color: @submenu-color;
        overflow:hidden;
        padding-top: 3rem;
        .animating & {
            .transition(.2s width .2s @i-cubic);
        }
        .category {
            .iblock();
            .font-black(20);
            .opacity(0);
            .transition(opacity .2s @io-quadradic);
            width: 100%;
            text-transform: uppercase;
            color: fade(@white, 20%);
            margin-bottom: 1.5rem;
            padding-left: 4rem;
        }
        .submenu-list {
            .iblock();
            .opacity(0);
            .transition(opacity .2s @io-quadradic);
            width: 100%;
            padding-left: 4rem;
        }
        .submenu-data {
            .iblock();
            width: 100%;
            margin-bottom: .5rem;
            .sub-title {
                .iblock();
                .font-black(12);
                .transition(color .3s @io-cubic);
                text-transform: uppercase;
                color: @white;
                position: relative;
                padding: 1rem 0;
                &:hover {
                    color: @main-color!important;
                }
            }
        }
    }
}
@media screen and (max-height: 660px) {
    #navigation {
        top: 8rem;
        .menu {
            height: calc(~'100vh - 10.6rem');
            .link {
                .icon {
                    img {
                        max-height: 4rem;
                    }
                }
            }
        }
        .submenu {
            .postr(-10.6rem,.1rem);
        }
    }
}
@media screen and (min-width: 960px) {
    #navigation {
        .menu {
            .menu-data {
                &.doing {
                    .submenu {
                        .transition(.2s width .1s @i-cubic);
                        width: 27.1rem;
                        .category, .submenu-list {
                            .opacity(1);
                            .transition(.2s opacity .2s @io-quadradic);
                        }
                    }
                }
            }
        }
        &.doing {
            html.desktop & {
                .menu {
                    .link {
                        padding-left: 3.5rem;
                        .fa {
                            .opacity(1);
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 960px) and (max-width: 1366px) {
    #navigation {
        width: 8rem;
        .animating & {
            .transition(.4s width .2s @i-quadradic);
        }
        .menu {
            .link {
                padding-left: 2rem;
                .fa {
                    .opacity(0);
                }
            }
        }
        &.doing {
            html.desktop & {
                .transition(width .2s @i-quadradic);
                width: 27.1rem;
                &~#content {
                    .transition(transform .2s @i-quadradic);
                    .translateX(27.1rem);
                }
                .menu {
                    .link {
                        .transition(padding .2s @i-quadradic);
                        .fa {
                            .transition(color .2s @io-cubic, opacity .3s @io-cubic);
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 960px) {
    @import url('_m.navigation.less');
}