/**
 * css
 *
 * @category css
 * @author Ralf da Rocha
 * @copyright 2014
 */
@import url('_shortcuts.less');
*{
    margin: 0;
    padding: 0;
    .box-sizing(border-box)!important;
    outline: none!important;
}
html {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    min-width: 320px;
    width: 100%;
    background-color: @background-color;
    @media only screen and (max-width: 409px) {
        font-size: 54%;
    }
    @media only screen and (min-width: 410px) and (max-width: 767px) {
        font-size: 62.5%;
    }
}
body{
    .font-light(15);
    .dim(100%,100%);
    color: @text-color;
    min-height: 100%;
    min-width: 320px;
    overflow-x: hidden;
    .user-select(auto)!important;
}
li{
    list-style: none;
}
a{
    .transition(color .2s);
    outline: none;
    text-decoration: none;
    color: @text-color;

    &:hover {
        color: @main-color;
    }
}
h1,h2,h3,h4,h5,h6 { -webkit-margin-before: 0;-webkit-margin-after: 0;-webkit-margin-start: 0px;-webkit-margin-end: 0px;font-weight: normal; }
input[type=text]::-ms-clear, input[type=password]::-ms-clear { display: none; }
input:focus, textarea:focus,select:focus,button:focus { outline: none; }
.placeholder(@text-color);
.error {
    .placeholder(@error-color);
}
textarea{ resize:none; }
img{ border: 0; }
b,strong{ margin-top: -1px; }
input,
select,
button,
textarea,
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    .appearance(none)!important;
    margin: 0;
}
input[type=number] {-moz-appearance: textfield!important;}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    caret-color: fade(@text-color,70%)!important;
    -webkit-text-fill-color: @text-color!important;
    -webkit-box-shadow: 0 0 0px 1000px @white inset!important;
    transition: background-color 5000s ease-in-out 0s;
}
html.desktop {
    ::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 7px;
        height: 7px;
        background-color: @background-color;
    }
    ::-webkit-scrollbar-thumb {
        background-color: @main-color;
        border-radius: 4px;
        -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
    }

}
::-moz-selection { /* Code for Firefox */
    background: @main-color;
    color: @white;
}

::selection {
    background: @main-color;
    color: @white;
}