///////////////////////////////////
/////////// ATALHOS ///////////////
///////////////////////////////////
.arial(){font-family:Arial, Helvetica, sans-serif;}
.block(){display: block;}
.clr(){&:after {content:" ";.block;clear:both;}}
.dim(@width: auto, @height: auto){height: @height;width: @width;}
.fleft(){float:left;}
.fright(){float:right;}
.iblock(@vetical-align: top){display: inline-block;vertical-align: @vetical-align;}
.italic(){font-style:italic;}
.limiter(@width: @max-width){ margin-left: auto; margin-right: auto; max-width: @width; min-width: @min-width; width: 100%; }
.nofocus(){&:focus { outline: none;}}
.norepeat(){background-repeat: no-repeat;}
.pointer(){cursor:pointer;}
.postl(@top,@left){position: absolute; top:@top; left:@left;}
.postr(@top,@right){position: absolute; top:@top; right:@right;}
.posbl(@bottom,@left){position: absolute; bottom:@bottom; left:@left;}
.posbr(@bottom,@right){position: absolute; bottom:@bottom; right:@right;}
.upper(){text-transform:uppercase;}
.fsize(@sizeValue: 15px) {
    @remValue: (unit(@sizeValue) / 10);
    @pxValue: unit(@sizeValue);
    font-size: ~"@{pxValue}px";
    font-size: ~"@{remValue}rem";
}
.relative() {
    position: relative;
}
///////////////////////////////////
//////////// FONTS ////////////////
///////////////////////////////////
.font-black(@size: 15){
    font-family: 'Montserrat';
    font-weight: 900!important;
    .fsize(@size);
}
.font-extrabold(@size: 15){
    font-family: 'Montserrat';
    font-weight: 800!important;
    .fsize(@size);
}
.font-bold(@size: 15){
    font-family: 'Montserrat';
    font-weight: 700!important;
    .fsize(@size);
}
.font-semibold(@size: 15){
    font-family: 'Montserrat';
    font-weight: 600!important;
    .fsize(@size);
}
.font-regular(@size: 15){
    font-family: 'Montserrat';
    font-weight: 400!important;
    .fsize(@size);
}
.font-light(@size: 15){
    font-family: 'Montserrat';
    font-weight: 300!important;
    .fsize(@size);
}
.font-ultralight(@size: 15){
    font-family: 'Montserrat';
    font-weight: 200!important;
    .fsize(@size);
}
.font-syabab(@size: 15){
    font-family: 'syabab';
    font-weight: normal!important;
    .fsize(@size);
}
/* .font-black(@size: 15){
    font-family: 'black';
    .fsize(@size);
}
.font-extrabold(@size: 15){
    font-family: 'extrabold';
    .fsize(@size);
}
.font-bold(@size: 15){
    font-family: 'bold';
    .fsize(@size);
}
.font-semibold(@size: 15){
    font-family: 'semibold';
    .fsize(@size);
}
.font-regular(@size: 15){
    font-family: 'regular';
    .fsize(@size);
}
.font-light(@size: 15){
    font-family: 'light';
    .fsize(@size);
}
.font-ultralight(@size: 15){
    font-family: 'ultralight';
    .fsize(@size);
} */
///////////////////////////////////
//////////// MIXINS ////////////////
///////////////////////////////////
.triangle-default(){
    content: '';
    .block();
    .dim(0,0);
    -moz-transform: scale(.9999);
}
.triangle(@direction, @size, @color) {
    .triangle(@direction, @size * 2, @size, @color);
}
.triangle(@direction, @width, @height, @color) when (@direction = top) {
    .triangle-default();
    border-left: (@width / 2) solid transparent;
    border-right: (@width / 2) solid transparent;
    border-bottom: @height solid @color;
}
.triangle(@direction, @width, @height, @color) when (@direction = bottom) {
    .triangle-default();
    border-left: (@width / 2) solid transparent;
    border-right: (@width / 2) solid transparent;
    border-top: @height solid @color;
}
.triangle(@direction, @width, @height, @color) when (@direction = left) {
    .triangle-default();
    border-top: (@width / 2) solid transparent;
    border-bottom: (@width / 2) solid transparent;
    border-right: @height solid @color;
}
.triangle(@direction, @width, @height, @color) when (@direction = right) {
    .triangle-default();
    border-top: (@width / 2) solid transparent;
    border-bottom: (@width / 2) solid transparent;
    border-left: @height solid @color;
}

