/**
 *
 * @variables less
 * @author Henrique Orlandin
 * @copyright 2017
 */

@background-color: #222222;
@submenu-color: #1b1b1b;

@main-color: #d52027;
@black: #000000;
@white: #ffffff;
@dark-gray: #333333;
@gray: #666666;
@text-color: #999999;
@light-gray: #a1a1a1;
@extralight-gray: #cccccc;
@error-color: #d52027;
@success-color: #3bb030;
@alert-color: #e5b634;
@border-color: #e1e1e1;
@sup-color: #f30649;

@min-width: 320px;
@max-width: 2000px;

@img: "../../../comum/assets/img/";
@css: "../../../comum/assets/css/";
@font: "../../../comum/assets/fonts/";


//Eases
//Ease-in
@i-sine: cubic-bezier(0.47, 0, 0.74, 0.71);
@i-quadradic: cubic-bezier(0.55, 0.09, 0.68, 0.53);
@i-cubic: cubic-bezier(0.55, 0.06, 0.68, 0.19);
@i-quartic: cubic-bezier(0.9, 0.03, 0.69, 0.22);
@i-quintic: cubic-bezier(0.76, 0.05, 0.86, 0.06);
@i-exponential: cubic-bezier(0.95, 0.05, 0.8, 0.04);
@i-circular: cubic-bezier(0.6, 0.04, 0.98, 0.34);
@i-backward: cubic-bezier(0.6, -0.28, 0.74, 0.05);
//Ease-out
@o-sine: cubic-bezier(0.39, 0.58, 0.57, 1);
@o-quadradic: cubic-bezier(0.25, 0.46, 0.45, 0.94);
@o-cubic: cubic-bezier(0.22, 0.61, 0.36, 1);
@o-quartic: cubic-bezier(0.17, 0.84, 0.44, 1);
@o-quintic: cubic-bezier(0.23, 1, 0.32, 1);
@o-exponential: cubic-bezier(0.19, 1, 0.22, 1);
@o-circular: cubic-bezier(0.08, 0.82, 0.17, 1);
@o-backward: cubic-bezier(0.18, 0.89, 0.32, 1.28);
//Ease-in-out
@io-sine: cubic-bezier(0.45, 0.05, 0.55, 0.95);
@io-quadradic: cubic-bezier(0.46, 0.03, 0.52, 0.96);
@io-cubic: cubic-bezier(0.65, 0.05, 0.36, 1);
@io-quartic: cubic-bezier(0.77, 0, 0.18, 1);
@io-quintic: cubic-bezier(0.86, 0, 0.07, 1);
@io-exponential: cubic-bezier(1, 0, 0, 1);
@io-circular: cubic-bezier(0.79, 0.14, 0.15, 0.86);
@io-backward: cubic-bezier(0.68, -0.55, 0.27, 1.55);

///////////////////////////////////
/////////// LESSHAT ///////////////
///////////////////////////////////
@import "_lesshat.less";
///////////////////////////////////
/////////// ATALHOS ///////////////
///////////////////////////////////
@import "_shortcuts.less";