@import '../../../comum/assets/less/_main.less';
@import '../../../comum/assets/less/_variables.less';
@import '../../../comum/assets/plugins/select2/select2.css';
@import '_account.less';

#account{
    .content {
        .content-top {
            margin-bottom: 2rem;
        }
        .common-form {
            .radio-group {
                margin-bottom: 1.5rem;
                .common-radio {
                    .iblock();
                    width: auto;
                    margin-right: 3.5rem;
                    &:last-child {
                        margin-right: 0;
                    }
                }
            }
            input {
                -moz-appearance: textfield!important;
                &.hide {
                    display: none;
                }
            }
            .select-wrapper {
                &.hide {
                    display: none;
                }
            }
            .pf-data {
                &.hide {
                    display: none;
                }
            }
            .terms {
                .fsize(0);
                .common-checkbox {
                    .iblock(middle);
                    text-align: left;
                    width: calc(~'100% - 14rem');
                }
                .checkbox {
                    margin-right: 1.1rem;
                }
                label {
                    .font-light(14);
                    color: @gray;
                }
                .common-button {
                    .iblock(middle);
                    width: 14rem;
                    svg {
                        .dim(2rem,2rem);
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 610px) {
    #account{
        .content {
            .common-form {
                .terms {
                    .common-checkbox {
                        width: 100%;
                        margin-top: 1rem;
                        margin-bottom: 2rem;
                    }
                    .common-button {
                        width: 100%;
                    }
                }
            }
        }
    }
}