@import '../../../comum/assets/less/_main.less';
@import '../../../comum/assets/less/_variables.less';
@import '_account.less';

#my-orders {
    .content {
        padding: 4rem 0 0;
        max-width: 100%;
        .content-top {
            padding-left: 4rem;
        }
    }
    .table-top {
        .iblock();
        width: 100%;
        border-bottom: .4rem solid #e2e2e2;
        padding: 0 4rem 2rem;
    }
    .order-data {
        .iblock();
        text-align: left;
        padding:  0 1.5rem;
        color: @gray;
        &.order {
            width: 20%;
            padding-left: 0;
            .code {
                .font-black(18);
            }
            .date {
                .font-regular(14);
                display: block;
            }
        }
        &.items {
            width: 8%;
            text-align: center;
            * {
                .font-black(18);
            }
        }
        &.total {
            text-align: right;
            width: 17%;
            * {
                .font-black(18);
            }
        }
        &.address {
            width: 30%;
            .type {
                .iblock();
                .font-black(12);
                .border-radius(.4rem);
                color: @white;
                padding:.5rem 1rem;
                background-color: @gray;
                margin-bottom: .7rem;
                text-transform: uppercase;
            }
            .common-text {
                .iblock();
                .font-regular(14);
                color: @gray;
                width: 100%;
            }
        }
        &.status {
            width: 25%;
            padding-right: 0;
            .desc {
                .font-black(15);
            }
            .date {
                .font-regular(14);
                display: block;
                margin-bottom: .8rem;
                line-height: 2rem;
            }
            .details {
                .font-regular(14);
                color: @main-color;
                line-height: 1.6rem;
                border-bottom: .1rem solid @main-color;
            }
        }
    }
    .order-items {
        .iblock();
        .fsize(0);
        width: 100%;
        max-width: 94rem;
        .order-data {
            .font-black(12);
            color: @gray;
            text-transform: uppercase;
        }
    }
    .orders-list {
        .iblock();
        width: 100%;
        .order-dup {
            .iblock();
            width: 100%;
            border-bottom: .1rem solid #e2e2e2;
            .order-content {
                .iblock();
                width: 100%;
                max-width: 102rem;
                padding: 2.5rem 4rem 3.3rem;
            }
        }
    }
}
#order-detail {
    .content {
        padding: 3rem 0 0;
        width: 100%;
        max-width: none;
    }
    .content-top {
        max-width: 102rem;
        padding: 0 4rem;
        margin-bottom: 3rem;
        .account-title {
            .iblock(middle);
            width: calc(~'100% - 6rem');
        }
        .common-back {
            .iblock(middle);
            .dim(4rem, 4rem);
            margin-right: 1.7rem;
            svg {
                .dim(1.5rem,1.3rem);
            }
            html.desktop & {
                &:hover {
                    border: 2rem solid @dark-gray;
                }
            }
        }
    }
    .overflow-scroll {
        overflow-x: scroll;
        width: 100%;
    }
    .status-list {
        .iblock();
        white-space: nowrap;
        width: calc(~'100% - 4rem');
        max-width: 98rem;
        padding: 0 4rem;
        .status-data {
            .iblock();
            .border-radius(0 10rem 10rem 0);
            .fsize(0);
            width: calc(~'25% + 4rem');
            border: .2rem solid @white;
            text-align: center;
            background-color: @extralight-gray;
            height: 9rem;
            line-height: 9rem;
            padding: 0 2.5rem 0 6rem;
            position: relative;
            white-space: normal;
            margin-left: -4rem;
            &:nth-child(1) {
                z-index: 3;
                margin-left: 0;
                padding: 0 2.5rem;
            }
            &:nth-child(2) { z-index: 2; }
            &:nth-child(3) { z-index: 1; }
            &:nth-child(4) { z-index: 0; }
            &.current {
                background-color: @main-color;
            }
            .step {
                .iblock(middle);
                .dim(3.5rem,3.5rem);
                .border-radius(2rem);
                .font-black(20);
                margin-right: 1.3rem;
                border: .2rem solid fade(@white, 30%);
                color: fade(@white, 30%);
                line-height: 3.2rem;
            }
            .desc {
                .iblock(middle);
                line-height: normal;
                width: calc(~'100% - 4.8rem');
                text-transform: uppercase;
                color: @white;
                text-align: left;
                .date {
                    margin-bottom: .2rem;
                }
                .date, .status {
                    .iblock();
                    .font-regular(12);
                    width: 100%;
                }
                .status {
                    .font-black(12);
                }
            }
        }
    }
    .order-products-list {
        .iblock();
        width:100%;
        padding: 8.3rem 0 1rem 4rem;
        background-color: #e2e2e2;
        margin-top: -4.5rem;
        .order-products-data {
            .iblock();
            .border-radius(.3rem);
            width: calc(~'50% - 4rem');
            margin-bottom: 3rem;
            margin-right: 4rem;
            background-color: @white;
            padding: 3rem 4rem;
        }
        .lazyload {
            .iblock();
            .dim(13.2rem,13.2rem);
            margin-right: 4rem;
            line-height: 13.2rem;
            .lazyload-image {
                max-width: 100%;
            }
        }
        .info {
            .iblock();
            width: calc(~'100% - 17.2rem');
            .title {
                .iblock();
                .font-black(16);
                width: 100%;
                min-height: 3.6rem;
                color: @gray;
                text-transform: uppercase;
                margin-bottom: 1rem;
                .optional {
                    .font-light(14);
                    display: block;
                    text-transform: none;
                }
            }
            .price {
                .iblock(bottom);
                width: 14rem;
                .old {
                    .iblock();
                    .font-regular(14);
                    width: 100%;
                    color: @text-color;
                }
                .current {
                    .iblock();
                    .font-black(16);
                    width: 100%;
                    color: @gray;
                }
            }
            .right {
                .iblock();
                width: calc(~'100% - 14rem');
                white-space: nowrap;
            }
            .quantity, .total {
                .iblock();
                text-align: center;
                .label {
                    .iblock();
                    .font-regular(16);
                    color: @text-color;
                    margin-bottom: 3rem;
                }
                .data {
                    .font-black(14);
                    color: @gray;
                    display: block;
                    line-height: 2rem;
                }
            }
            .total {
                text-align: left;
                margin-left: 4rem;
                .data {
                    .font-black(20);
                    color: @main-color;
                }
            }
        }
    }
    .order-resume-list {
        .iblock();
        width:100%;
        .order-resume-data {
            .iblock();
            width:100%;
            padding: 2.5rem 4rem;
            border-bottom: .1rem solid #e2e2e2;
            &:last-child {
                padding-bottom: 0;
                border-bottom: 0 none;
            }
            .label {
                .iblock();
                .font-black(16);
                width: 14.5rem;
                text-align: left;
                color: @gray;
                text-transform: uppercase;
            }
            .data {
                .iblock();
                .font-black(16);
                text-transform: uppercase;
                color: @main-color;
                width: 23.5rem;
                text-align: right;
            }
            &.total {
                .label {
                    padding-top: .6rem;
                }
                .data {
                    .fsize(25);
                    .payment {
                        .font-regular(14);
                        display: block;
                        color: @text-color;
                        text-transform: none;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1360px) {
    #order-detail {
        .order-products-list {
            .info {
                .price {
                    .iblock(top);
                    width: 100%;
                    margin: 1rem 0 2rem;
                }
                .right {
                    width: 100%;
                }
            }
        }
    }
}
@media screen and (max-width:1160px) {
    #order-detail {
        .order-products-list {
            padding: 8.3rem 0 1rem 2rem;
            .order-products-data {
                width: calc(~'50% - 2rem');
                margin-bottom: 2rem;
                margin-right: 2rem;
                padding: 3rem;
            }
            .lazyload {
                margin-right: 2rem;
            }
            .info {
                .right {
                    .total {
                        margin-left: 3rem;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:960px) {
    @import url('_m.meus_pedidos.less');
}
@media screen and (max-width:767px) {
    #order-detail {
        .order-products-list {
            .order-products-data {
                width: calc(~'100% - 2rem');
                margin-right: 0;
                padding: 2rem;
            }
            .lazyload {
                .dim(12rem,12rem);
                margin-right: 3rem;
                line-height: 12rem;
            }
            .info {
                width: calc(~'100% - 15rem');
            }
        }
    }
}
@media screen and (max-width:414px) {
    #order-detail {
        .order-products-list {
            .lazyload {
                .dim(8rem,8rem);
                margin-right: 2rem;
                line-height: 8rem;
            }
            .info {
                width: calc(~'100% - 10rem');
            }
        }
    }
}