@import '../../../comum/assets/less/_main.less';
@import '../../../comum/assets/less/_variables.less';
@import '../../../comum/assets/plugins/select2/select2.css';
@import '_account.less';
@import '_enderecos.less';

@media screen and (max-width:960px) {
    @import url('_m.meus_enderecos.less');
}

@media screen and (max-width:480px) {
    main {
        #new-address {
            .common-form {
                .final {
                    .checkbox-content {
                        width: 100%;
                    }
                    .common-checkbox {
                        margin-bottom: 1rem;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        .checkbox {
                            margin-right: 1.1rem;
                        }
                        label {
                            .font-light(14);
                            color: @gray;
                        }
                    }
                    .common-button {
                        margin-top: 2.3rem;
                        width: 100%;
                        max-width: 40rem;
                    }
                }
            }
        }
    }
}