#about {
    text-align: center;
    .header {
        .dim(100%, 27.5rem);
        line-height: 27.5rem;
        margin-bottom: 2.5rem;
        text-align: left;
        .title {
            .font-black(14);
            padding-left: 2rem;
            margin-top: 2rem;
            strong {
                .font-syabab(60);
                line-height: 9.5rem;
            }
        }
    }
    .content {
        padding: 0 2rem;
        text-align: center;
        .common-text {
            text-align: left;
            line-height: 2.1rem;
        }
        .common-gallery {
            .dim(100%,40vh);
            margin-bottom:6rem;
            min-height: 21rem;
            max-width: 65.2rem;
            .gallery-list {
                .fsize(0);
                overflow: hidden;
                .border-radius(1.2rem 0 1.2rem 0);
                .gallery-data {
                    .iblock();
                    .lazyload {
                        .dim(100%,40vh);
                        min-height: 21rem;
                        max-width: 65.2rem;
                    }
                }
            }
            .common-dots {
                .iblock();
                line-height: normal;
                margin-bottom: 3.3rem;
                .slick-dots {
                    padding-top: 1rem;
                }
                button {
                    border-color: @text-color;
                }
            }
            .common-arrows {
                display: none!important;
            }
        }
        .contact-info {
            .left, .right {
                width: 100%;
            }
            .contact-data {
                margin-bottom: 1.5rem;
            }
            .address-title {
                .font-black(14);
                margin-top: 2rem;
                margin-bottom: .5rem;
            }
            .address, .address-link {
                .font-regular(16);
                margin-bottom: 2rem;
            }
            .address-link {
                .font-black(16);
            }
        }
    }
}
@media screen and (max-width: 1360px) {
    .company-image {
        display: none;
    }
}
