@import '../../../comum/assets/less/_main.less';
@import '../../../comum/assets/less/_variables.less';

#about {
    width: 100%;
    background-color: @white;
    .header {
        .dim(100%, 42.5rem);
        .iblock();
        position: relative;
        line-height: 42.5rem;
        margin-bottom: 4.5rem;
        .lazyload {
            .postl(0,0);
            .dim(100%,100%);
        }
        .title {
            .iblock(middle);
            .font-black(25);
            line-height: normal;
            padding-left: 5.6rem;
            color: @white;
            text-transform: uppercase;
            position: relative;
            z-index: 3;
            margin-top: 5rem;
            strong {
                .font-syabab(110);
                display: block;
                text-transform: none;
                font-weight: normal;
                line-height: 16.5rem;
            }
        }
    }
    .content {
        .iblock();
        padding-left: 4rem;
        width: 100%;
        max-width: 80rem;
        .common-text {
            .font-light(16);
            .iblock();
            width: 100%;
            margin-bottom: 2.5rem;
            color: @text-color;
            line-height: 2.4rem;
        }
        .common-gallery {
            .dim(65.2rem,37.2rem);
            .iblock();
            position: relative;
            margin-bottom: 5.3rem;
            .gallery-list {
                .fsize(0);
                overflow: hidden;
                .border-radius(2rem 0 2rem 0);
                .gallery-data {
                    .iblock();
                    .lazyload {
                        .dim(65.2rem,37.2rem);
                    }
                }
            }
            .common-dots {
                display: none;
            }
            .common-arrows {
                .posbl(0,0);
                .translateY(50%);
                .arrow {
                    .box-shadow(0 .1rem 1rem fade(@gray,50%));
                }
            }
        }
        .contact-info {
            .iblock();
            .left {
                .iblock();
                width: 30.5rem;
            }
            .right {
                .iblock();
                width: calc(~'100% - 30.5rem');
            }
            .contact-data {
                .iblock();
                width: 100%;
                margin-bottom: 1.2rem;
                .icon {
                    .iblock(middle);
                    .dim(2.3rem, 2.3rem);
                    svg {
                        max-width: 100%;
                        fill: @main-color;
                    }
                }
                .number {
                    .iblock(middle);
                    .font-black(25);
                    color: fade(@gray, 50%);
                    margin-left: 1.3rem;
                }
                .text {
                    .iblock(middle);
                    .font-regular(14);
                    .transition(color .3s @io-cubic);
                    color: fade(@gray, 50%);
                    margin-left: 1.5rem;
                }
                .whats {
                    svg {
                        fill: #1fd141;
                    }
                }
                .email {
                    svg {
                        max-width: 2.1rem;
                    }
                    html.desktop & {
                        &:hover {
                            .text {
                                color: @main-color;
                            }
                        }
                    }
                }
                .link {
                    cursor: default;
                    &.email {
                        cursor: pointer;
                    }
                }
            }
            .address-title {
                .iblock();
                .font-black(12);
                width: 100%;
                color: @gray;
                text-transform: uppercase;
                margin-bottom: 1rem;
            }
            .address, .address-link {
                .iblock();
                .font-regular(14);
                color: @text-color;
                width: 100%;
                font-style: normal;
            }
            .address-link {
                .font-black(14);
                color: @main-color;
                width: auto;
                html.desktop & {
                    &:hover {
                        color: @gray;
                    }
                }
            }
        }
    }
    .company-image {
        .postr(16rem,0);
        width: calc(~'100% - 80rem');
        padding: 0 2%;
        z-index: 2;
    }
}
@media screen and (max-width: 1360px) {
    .company-image {
        display: none;
    }
}
@media screen and (max-width: 960px) {
    @import url('_m.conheca_a_hotmusic.less');
}