@import '../../../comum/assets/less/_variables.less';
@import '../../../minha_conta/assets/less/_m.enderecos.less';

#my-cart {
    .common-header {
        .title {
            width: 100%;
            margin-bottom: .5rem;
        }
        .cart-items {
            display: block;
            border: 0 none;
            margin-left: 0;
            padding-left: 0;
        }
    }
    .order-products-list {
        padding: 3rem 0 1rem 2rem;
        margin-top: 0;
        text-align: left;
        .order-products-data {
            width: calc(~'50% - 2rem');
            margin-bottom: 2rem;
            margin-right: 2rem;
            padding: 2rem;
        }
        .lazyload {
            .dim(6.6rem,6.6rem);
            margin-right: 2rem;
            line-height: 6.6rem;
        }
        .info {
            width: calc(~'100% - 8.8rem');
            .title {
                .font-black(14);
                min-height: 3rem;
                margin-bottom: 1.7rem;
                .optional {
                    .font-light(13);
                }
            }
            .price {
                margin-top: 0;
                width: 100%;
                margin-bottom: 1.2rem;
                .old {
                    margin-bottom: .2rem;
                }
            }
            .right {
                width: 100%;
            }
            .quantity, .total {
                float: left;
                .label {
                    .font-regular(16);
                }
                .data {
                    .font-black(16);
                }
                input {
                    margin-top: .5rem;
                }
            }
            .total {
                text-align: right;
                margin-left: 0;
                float: right;
                margin-bottom: 0;
                .data {
                    .font-black(16);
                }
            }
        }
    }
    .address-wrapper {
        width: calc(~'100% - 4rem');
        margin: 2.6rem 2rem 1rem;
        padding: 0;
        #new-address {
            #form-address {
                padding: 0
            }
            .content-top {
                border: 0 none;
                margin-bottom: 2rem;
                .account-title {
                    padding-bottom: 0;
                }
            }
        }
        #address-container {
            .account-title {
                padding: 0 0 1.4rem;
                width: calc(~'100% - 21.2rem');
                margin: 0;
                border: 0 none;
            }
            #local-shipping-message {
                padding: 1rem 0 2rem;
            }
            .common-button {
                width: 21rem;
            }
            .address-content {
                .address-info {
                    label {
                        width: calc(~'100% - 4.5rem');
                        margin-top: .5rem;
                        .title {
                            margin-bottom: .8rem;
                        }
                    }
                }
            }
        }
    }
    #cart-inputs {
        border-bottom: .2rem solid #e2e2e2;
        .local-shipping {
            padding: 0 2rem;
            label {
                width: calc(~'100% - 3.5rem');
                .fsize(13);
            }
            .checkbox {
                vertical-align: top;
            }
        }
        .obs {
            .font-bold(16);
            padding: 1.5rem 2rem 3rem;
            border-width: .2rem;
        }
        .cart-inputs {
            padding: 2.5rem 2rem;
            border-width: .2rem;
            text-align: center;
        }
        .cart-inputs-dup {
            display: block;
            margin: 2rem auto 0 !important;
            text-align: left;

            .form-group {
                .common-button {
                    height: 5rem;
                }
            }
            #coupom-applied{
                .font-bold(14);
            }
            .shipping-result {
                text-align: left;

                .shipping-info {
                    .font-regular(13);
                    strong {
                        .font-black(13);
                    }
                }
            }
        }
        .total {
            width: 100%;
            padding: 2rem;
        }
        #cart-prices {
            width: 100%;
            .total-dup {
                .label {
                    margin-right: 0;
                    width: 100%;
                    text-align: center;
                    margin-bottom: .5rem;
                }
                .data {
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
    .cart-navigation {
        padding-right: 2rem;
    }
}
