@import '../../../comum/assets/less/_main.less';
@import '../../../comum/assets/less/_variables.less';
@import '../../../minha_conta/assets/less/_enderecos.less';
@import '../../../comum/assets/plugins/select2/select2.css';

#my-cart {
    .common-header {
        border-bottom: 0 none;
        .title {
            .iblock(middle);
            width: auto;
        }
        .cart-items {
            .iblock(middle);
            .font-light(14);
            text-transform: uppercase;
            color: @text-color;
            border-left: .1rem solid #e2e2e2;
            padding-left: 2rem;
            margin-left: 2rem;
        }
    }
    .order-products-list {
        .iblock();
        width:100%;
        padding: 4rem 0 1rem 4rem;
        background-color: #e2e2e2;
        .order-products-data {
            .iblock();
            .border-radius(.3rem);
            width: calc(~'50% - 4rem');
            margin-bottom: 3rem;
            margin-right: 4rem;
            background-color: @white;
            padding: 3rem 4rem;
            position: relative;
        }
        .lazyload {
            .iblock();
            .dim(13.2rem,13.2rem);
            margin-right: 4rem;
            line-height: 13.2rem;
            .lazyload-image {
                max-width: 100%;
            }
        }
        .info {
            .iblock();
            width: calc(~'100% - 17.2rem');
            .title {
                .iblock();
                .font-black(16);
                width: 100%;
                min-height: 3.6rem;
                color: @gray;
                text-transform: uppercase;
                margin-bottom: 1rem;
                padding-right: 2rem;
                .optional {
                    .font-light(14);
                    display: block;
                    text-transform: none;
                }
            }
            .price {
                .iblock(bottom);
                width: 15rem;
                .old {
                    .iblock();
                    .font-regular(14);
                    width: 100%;
                    color: @text-color;
                }
                .current {
                    .iblock();
                    .font-black(16);
                    width: 100%;
                    color: @gray;
                }
            }
            .right {
                .iblock();
                width: calc(~'100% - 15rem');
                white-space: nowrap;
                text-align: right;
            }
            .quantity, .total {
                .iblock();
                text-align: center;
                .label {
                    .iblock();
                    .font-regular(16);
                    color: @text-color;
                }
                .data {
                    .font-black(14);
                    color: @gray;
                    display: block;
                    line-height: 2rem;
                    margin-top: 3rem;
                }
                input {
                    margin-top: 1rem;
                    display: block;
                    width: 5.5rem;
                    padding: 1rem 0;
                    text-align: center;
                }
            }
            .total {
                text-align: left;
                margin-left: 2rem;
                .data {
                    .font-black(20);
                    color: @main-color;
                }
            }
        }
        .button-remove {
            .postr(2.5rem,3rem);
            margin-bottom: 0;
            background-color: transparent;
            border: 0 none;
            svg {
                .dim(2.4rem,2.6rem);
                .transition(fill 0.3s @io-sine);
                fill: @extralight-gray;
            }
            html.desktop & {
                &:hover {
                    svg {
                        fill: @dark-gray;
                    }
                }
            }
        }
    }
    .address-wrapper {
        width: calc(~'100% - 8rem');
        margin: 2.6rem 4rem 3rem;
        text-align: left;
        &~.cart-inputs {
            border-top: .1rem solid #e2e2e2;
        }
        #address-container {
            .fsize(0);
            .content-top {
                .account-title {
                    vertical-align: top;
                }
            }
            #local-shipping-message {
                .font-regular(16);
                width: 100%;
                color: @text-color;
                padding: 4rem 0;
                display: none;
            }
            .address-list {
                .display(flex);
                .flex-wrap(wrap);
                .flex-direction(row);
                width: 100%;
            }
            .shipping-option {
                .iblock();
                width: 100%;
                margin-top: 2.4rem;
                display: none;
                .shipping-title {
                    .iblock();
                    .font-black(13);
                    color: @gray;
                    text-transform: uppercase;
                    width: 100%;
                }
                #shipping-list {
                    .iblock();
                    width: 100%;
                    margin-top: 1.5rem;
                    text-align: left;
                    display: none;
                    .shipping-info {
                        .iblock();
                        .font-regular(12);
                        margin-bottom: .5rem;
                        color: @text-color;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        strong {
                            .font-black(12);
                            color: @gray;
                        }
                        .price {
                            .font-black(12);
                            color: #49a541;
                        }
                    }
                    .no-shipping {
                        .iblock();
                        .font-regular(12);
                        width: 100%;
                        margin-bottom: .5rem;
                        color: @text-color;
                        a {
                            color: @main-color;
                        }
                    }
                }
            }
            .address-content {
                padding: 2rem;
                width: calc(~'(100% - 2rem) / 3');
                margin-right: 1rem;
                margin-bottom: 1rem;
                position: relative;
                .loader {
                    .dim(100%,100%);
                    .postl(0,0);
                    .opacity(0);
                    .transition(opacity .3s @io-cubic, visibility .3s @io-cubic);
                    visibility: hidden;
                    z-index: 2;
                    background-color: fade(@white, 50%);
                    .loader-container {
                        .postl(50%,50%);
                        .translate(-50%,-50%);
                    }
                }
                &.loading {
                    .loader {
                        .opacity(1);
                        visibility: visible;
                    }
                }
                &:nth-child(3n) {
                    margin-right: 0;
                }
                .address-info {
                    width: 100%;
                    padding-right: 0;
                }
                .radio {
                    vertical-align: top;
                    margin-right: 1.4rem;
                }
                label {
                    width: calc(~'100% - 3.5rem');
                    margin-top: .2rem;
                }
                .title {
                    .fsize(13);
                }
                .common-text {
                    .fsize(13);
                    text-transform: none;
                    margin-bottom: 0;
                }
            }
        }
        #form-address {
            .final {
                text-align: right;
            }
        }
    }
    #cart-inputs {
        .iblock();
        width: 100%;
        border-bottom: .1rem solid #e2e2e2;
        text-align: right;
        padding-top: 2.5rem;
        .local-shipping {
            .font-regular(12);
            text-align: left;
            text-transform: uppercase;
            padding-left: 4rem;
            padding-top: 1.5rem;
        }
        .obs {
            .font-bold(14);
            .iblock();
            width: 100%;
            padding: 1.5rem 4rem 4rem;
            border-bottom: .1rem solid #e2e2e2;
            color: @text-color;
            text-align: left;
        }
        .cart-inputs {
            .iblock();
            width: 100%;
            padding: 2.8rem 4rem;
            border-bottom: .1rem solid #e2e2e2;
            text-align: right;
        }
        .cart-inputs-dup {
            .iblock();
            margin-left: 5rem;
            max-width: 50%;

            &:first-child {
                margin-left: 0;
            }
            .title {
                .iblock(middle);
                .font-black(16);
                color: @gray;
                text-transform: uppercase;
                margin-right: 1.5rem;
            }
            .form-group {
                .iblock(middle);
                width: auto;
                margin-left: 0;
                margin-bottom: 0;
                input {
                    .iblock();
                    width: 21rem;
                    margin-right: 1.5rem;
                }
                .common-button {
                    .iblock();
                    width: 10rem;
                    text-align: center;
                    padding: 0;
                }
            }
            #coupom-applied{
                .font-bold(13);
                display: none;
                text-align: left;
                padding-top: .5rem;
            }
            .shipping-result {
                .iblock();
                width: 100%;
                margin-top: 1.5rem;
                text-align: right;
                display: none;
                .shipping-info {
                    .iblock();
                    .font-regular(12);
                    width: 100%;
                    margin-bottom: .5rem;
                    color: @text-color;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    strong {
                        .font-black(12);
                        color: #49a541;
                    }
                }
                .no-shipping {
                    .iblock();
                    .font-regular(12);
                    width: 100%;
                    margin-bottom: .5rem;
                    color: @text-color;
                    a {
                        color: @main-color;
                    }
                }
            }
        }
        .total {
            .iblock();
            width: 50rem;
            text-align: right;
            padding-top: 2.6rem;
            padding-right: 4rem;
            padding-bottom: 2.6rem;
        }
        #cart-prices {
            .iblock();
            margin-top: 0;
            .total-dup {
                .iblock();
                .fsize(0);
                width: 100%;
                margin-bottom: 2rem;
                &:last-child {
                    margin-bottom: 0;
                }
                &.price-transfer-discount {
                    display: none;
                }
                .label {
                    .iblock();
                    .font-black(16);
                    color: @gray;
                    text-transform: uppercase;
                    margin-right: 2rem;
                    width: calc(~'100% - 26rem');
                    text-align: right;
                }
                .data {
                    .iblock();
                    .font-black(16);
                    color: @text-color;
                    text-transform: uppercase;
                    width: 24rem;
                }
                &.price-total {
                    .data {
                        .fsize(25);
                        color: @main-color;
                        span {
                            .font-regular(14);
                            color: @text-color;
                            display: block;
                            line-height: 2.2rem;
                            text-transform: none;
                        }
                        small {
                            .fsize(14);
                        }
                    }
                }
            }
        }
    }
    .cart-navigation {
        .iblock();
        width: 100%;
        padding-top: 3rem;
        text-align: right;
        padding-right: 4rem;
        .common-button {
            .iblock(middle);
            .border-radius(.3rem);
            margin-left: 3rem;
            text-align: center;
            border-color: @text-color;
            &:before {
                background-color: @text-color;
            }
            &:hover, &:active, &:focus {
                span, .fa, svg {
                    color: @text-color;
                    fill: @text-color;
                }
            }
            svg {
                .dim(2.4rem,2.1rem);
                margin-right: 1rem;
            }
            &.success {
                border-color: @success-color;
                height: 6rem;
                span {
                    .fsize(16);
                }
                &:before {
                    background-color: @success-color;
                }
                &:hover, &:active, &:focus {
                    span, .fa, svg {
                        color: @success-color;
                        fill: @success-color;
                    }
                }
            }
        }
    }
}
.common-empty {
    .common-button {
        margin-top: 3rem;
    }
}
@media screen and (max-width:1360px) {
    #my-cart {
        .order-products-list {
            .info {
                .price {
                    .iblock(top);
                    width: 100%;
                    margin: 1rem 0 2rem;
                }
                .right {
                    text-align: left;
                    width: 100%;
                }
            }
        }
    }
}
@media screen and (max-width:1315px) {
    #my-cart {
        #cart-inputs {
            .cart-inputs-dup {
                .title {
                    display: block;
                    text-align: left;
                    margin-bottom: 1rem;
                }
            }
        }
    }
}
@media screen and (max-width:1160px) {
    #my-cart {
        .order-products-list {
            padding: 4rem 0 1rem 2rem;
            .order-products-data {
                width: calc(~'50% - 2rem');
                margin-bottom: 2rem;
                margin-right: 2rem;
                padding: 3rem;
            }
            .button-remove {
                .postr(2rem,2rem);
            }
            .lazyload {
                margin-right: 2rem;
            }
        }
        .address-wrapper {
            #address-container {
                .address-content {
                    width: calc(~'(100% - 1rem) / 2');
                    margin-right: 1rem;
                    &:nth-child(3n) {
                        margin-right: 1rem;
                    }
                    &:nth-child(2n) {
                        margin-right: 0;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:960px) {
    @import url('_m.carrinho.less');
}
@media screen and (max-width:767px) {
    #my-cart {
        .order-products-list {
            .order-products-data {
                width: calc(~'100% - 2rem');
                margin-right: 0;
                padding: 2rem;
            }
            .lazyload {
                .dim(12rem,12rem);
                margin-right: 3rem;
                line-height: 12rem;
            }
            .info {
                width: calc(~'100% - 15rem');
            }
        }
        #cart-inputs {
            .cart-inputs {
                text-align: center;
            }
            .cart-inputs-dup {
                display: block;
                width: 100%;
                margin: 0 auto 2rem;
                max-width: 33rem;
                text-align: left;
                .title {
                    margin-bottom: 1rem;
                }
                &:first-child {
                    margin-left: auto;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .address-wrapper {
            #address-container {
                .address-content {
                    width: 100%;
                    margin-right: 0;
                    &:nth-child(3n) {
                        margin-right: 0;
                    }
                    &:nth-child(2n) {
                        margin-right: 0;
                    }
                    .address-info {
                        label {
                            width: calc(~'100% - 4.5rem');
                            margin-top: .5rem;
                            .title {
                                margin-bottom: .8rem;
                            }
                        }
                    }
                }
            }
        }
        .cart-navigation {
            text-align: center;
            padding: 2rem 2rem 0;
            .common-button {
                .border-radius(.3rem);
                margin-left: 0;
                margin-bottom: 1.2rem;
                height: 5rem;
                width: 100%;
                line-height: 4.6rem;
                max-width: 41.4rem;
                span {
                    .fsize(14);
                }
                &.success {
                    height: 5rem;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
@media screen and (max-width:480px) {
    #my-cart {
        .order-products-list {
            .lazyload {
                .dim(8rem,8rem);
                margin-right: 2rem;
                line-height: 8rem;
            }
            .info {
                width: calc(~'100% - 10rem');
            }
        }
        #new-address {
            .account-title {
                width: calc(~'100% - 6rem');
            }
            .common-form {
                .final {
                    .checkbox-content {
                        width: 100%;
                    }
                    .common-checkbox {
                        margin-bottom: 1rem;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        .checkbox {
                            margin-right: 1.1rem;
                        }
                        label {
                            .font-light(14);
                            color: @gray;
                        }
                    }
                    .common-button {
                        margin-top: 2.3rem;
                        width: 100%;
                        max-width: 40rem;
                    }
                }
            }
        }
        .address-wrapper {
            #address-container {
                .account-title {
                    width: 100%;
                }
                .common-button {
                    width: 100%;
                    max-width: 40rem;
                }
            }
        }
    }
}