@import '../../../comum/assets/less/_main.less';
@import '../../../comum/assets/less/_variables.less';

#checkout-success {
    padding: 5rem 2rem 2rem;
    text-align: center;
    text-transform: uppercase;
    .success-title{
        .iblock();
        .font-black(30);
        width: 100%;
        margin-bottom: 3rem;
        line-height: 3rem;
        color: @success-color;

        &.warning-title {
            color: @alert-color;
        }
    }
    .success-subtitle{
        .iblock();
        .font-black(20);
        width: 100%;
        margin-bottom: 3rem;
        color: @gray;
    }
    .success-number{
        .iblock();
        .font-black(18);
        width: 100%;
        line-height: 21px;
        margin-bottom: .5rem;
    }
    .success-text{
        .iblock();
        .font-regular(16);
        width: 100%;
        margin-bottom: 5rem;
        text-transform: none;

        &.bank-transfer-text {
            max-width: 40rem;

            p {
                color: @gray;
                margin-bottom: 1.5rem;
            }
            strong, a {
                color: @main-color;
            }
        }
    }
}
@media screen and (max-width: 960px) {
    #checkout-success {
        .success-title {
            .fsize(25);
        }
        .success-subtitle {
            .fsize(18);
        }
        .success-number{
            .fsize(16);
        }
        .success-text{
            .fsize(14);
        }
    }
}