@import '../../../comum/assets/less/_variables.less';
#content main {
    .border-radius(0);
}
#home {
    .display(flex) !important;
    .flex-direction(column);
    position: relative;
    .main-banner {
        .postl(0,0);
        height: 40rem;
        width: 100%;
        .banner-data {
            .iblock();
            .lazyload {
                .dim(100%,40rem);
                line-height: 40rem;

                .lazyload-image {
                    .background-size(contain);
                }
            }
        }
        .dots {
            .posbl(1.7rem,2.2rem);
            li {
                button {
                    line-height: 2.6rem;
                }
                &:before {
                    border-width: .1rem;
                }
            }
        }
        .common-arrows {
            display: none!important;
        }
    }
    .common-advantages {
        .dim(100%, 8.8rem);
        .postl(40rem,0);
        @media (max-width: 767px) {
            top: 23.1rem;
        }
        .advantage-list {
            .dim(100%, 8.8rem);
            line-height: 8.8rem;
        }
        .advantage-data {
            padding: 0 .5rem;
            .icon {
                svg {
                    fill: fade(@white,40%);
                }
            }
            .desc {
                color: fade(@white,40%);
                line-height: 1.4rem;
            }
        }
    }
    .secundary-banner {
        .banner-data {
            height: 32rem;
            .lazyload {
                height: 32rem;
                line-height: 32rem;
            }
        }
    }
    .banners{
        .flex-basis(100%);
        .order(2);
        position: static;
    }
    .highlights {
        .flex-basis(100%);
        .order(1);
        padding-top: 48.8rem;
        @media (max-width: 767px) {
            padding-top: 31.9rem;
        }
        .products-list {
            display: block !important;
            // white-space: nowrap;
            .product-data{
                display: inline-block !important;
                width: 33.33%;
                white-space: normal;
                @media (max-width: 780px) {
                    width: 50%;
                }
                @media (max-width: 520px) {
                    width: 100%;
                }
            }
        }
        .slick-dots {
            .fsize(0);
            display: block;
            width: 100%;
            text-align: center;
            padding: 1rem;
            li {
                .iblock();
                margin: .4rem;
                button {
                    .dim(1.2rem, 1.2rem);
                    .iblock();
                    .border-radius(1rem);
                    .transition(border .3s @i-cubic);
                    background-color: transparent;
                    border: .2rem solid #fff;
                }
                &.slick-active {
                    button {
                        border-width: .6rem;
                    }
                }
            }
        }

    }
    .offers {
        .flex-basis(100%);
        .order(3);
        .border-radius(0);
        width: 100%;
        padding: 4rem 2.2rem 2.7rem;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00b7ea+0,ac0000+0,6c0000+100 */
        background: #00b7ea; /* Old browsers */
        background: -moz-linear-gradient(top, #00b7ea 0%, #ac0000 0%, #6c0000 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #00b7ea 0%,#ac0000 0%,#6c0000 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #00b7ea 0%,#ac0000 0%,#6c0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#6c0000',GradientType=0 ); /* IE6-9 */

        .intro {
            width: 100%;
            padding-top: 0;
            padding-right: 0;
            text-align: center;
            svg {
                .dim(10.5rem,10.5rem);
                margin-bottom: 0;
                margin-left: 0;
                margin-right: 1.6rem;
                margin-top: -.2rem;
            }
            .title {
                .font-black(38);
                text-align: left;
                width: auto;
                line-height: 3.8rem;
                margin-bottom: 0;
            }
            .desc {
                margin-top: 2.4rem;
                .font-light(16.5);
                strong {
                    .font-bold(16.5);
                }
            }
        }
        .offers-gallery {
            width: 100%;
            margin-top: 2.4rem;
            .products-list {
                padding: 0;
                .product-data {
                    width: 100%;
                }
            }
            .common-arrows {
                display: none!important;
            }
            .common-dots {
                .iblock();
            }
        }
    }
}