@import '../../../comum/assets/less/_main.less';
@import '../../../comum/assets/less/_variables.less';
@import '../../../produtos/assets/less/_produtos.less';

#content main {
    .border-radius(3rem 0 0 10rem);
    background-color: transparent;
}
#home {
    .iblock();
    width: 100%;
    position: relative;
    .banners {
        .iblock();
        width: 59%;
        &.full {
            width: 100%;
        }
    }
    .main-banner {
        .iblock();
        .dim(100%,42rem);
        position: relative;
        overflow: hidden;
        background-color: @background-color;
        .banners-list {
            .iblock();
            .fsize(0);
            white-space: nowrap;
            width: 100%;
            overflow: hidden;
        }
        .banner-data {
            .iblock();
            .lazyload {
                .iblock();
                .dim(100%,42rem);
                overflow: hidden;
                line-height: 42rem;
                .lazyload-image {
                    background-size: cover;
                    background-position: left center;
                    background-repeat: no-repeat;
                }
            }
        }
        .dots {
            .posbl(3.9rem,6rem);
            z-index: 2;
            ul {
                .iblock();
                .fsize(0);
                white-space: nowrap;
            }
            li {
                .border-radius(2rem);
                .box-shadow(0 0 2px gray);
                .dim(2.3rem,2.3rem);
                .iblock();
                margin-right: .3rem;
                position: relative;
                button {
                    .dim(2.3rem,2.3rem);
                    .font-regular(12);
                    .drop-shadow(0 0 2px gray);
                    .transition(color .3s @io-cubic);
                    text-align: center;
                    color: @white;
                    background-color: transparent;
                    position: relative;
                    border: 0 none;
                    line-height: 1.9rem;
                    z-index: 2;
                }
                &:before {
                    .dim(100%, 100%);
                    .postl(0,0);
                    .border-radius(2rem);
                    .box-sizing(border-box);
                    .transition(border-width .2s @io-quadradic, border-color .3s @io-cubic);
                    border: .2rem solid fade(@white, 30%);
                    content: '';
                    z-index: 1;
                }
                &:hover, &.slick-active {
                    button {
                        .transition(color .3s @io-cubic);
                        color: @main-color;
                    }
                    &:before {
                        .transition(border-width .2s @io-quadradic, border-color .3s @io-cubic);
                        border: 1.15rem solid @white;
                    }
                }
            }
        }
        .common-arrows {
            .posbr(14rem,2.1rem);
            .dim(4.3rem);
            z-index: 2;
            .arrow {
                color: @dark-gray;
                &:last-child {
                    margin-left: 0;
                    margin-top: .9rem;
                }
                &:hover {
                    color: @white;
                }
            }
        }
    }
    .common-advantages {
        background-color: @background-color;
        margin-top: 0;
        .advantage-list {
            white-space: nowrap;
        }
        .advantage-data {
            white-space: normal;
            .icon {
                .dim(100%,3rem);
                line-height: 3rem;
                margin-bottom: 1rem;
                margin-right: 0;
            }
            .desc {
                .font-light(12);
                width: 100%;
            }
            &.shipping {
                .icon {
                    svg {
                        height: 2.5rem;
                    }
                }
            }
        }
    }
    .secundary-banner {
        .iblock();
        width: 100%;
        .banner-list {
            .iblock();
            .fsize(0);
            width: 100%;
        }
        .banner-data {
            .iblock();
            .dim(50%,34rem);
            white-space: normal;
            overflow: hidden;
            .lazyload {
                .iblock();
                .dim(100%,34rem);
                line-height: 34rem;
                .lazyload-image {
                    background-size: cover;
                    background-position: left center;
                    background-repeat: no-repeat;
                }
            }
        }
    }
    .highlights {
        .iblock();
        width: 41%;
        .products-list {
            .product-data {
                width: 50%;
            }
        }
    }
    .offers {
        .iblock();
        .border-radius(0 0 0 10rem);
        width: 100%;
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00b7ea+0,ac0000+0,6c0000+100 */
        background: #00b7ea; /* Old browsers */
        background: -moz-linear-gradient(left, #00b7ea 0%, #ac0000 0%, #6c0000 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left, #00b7ea 0%,#ac0000 0%,#6c0000 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right, #00b7ea 0%,#ac0000 0%,#6c0000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#6c0000',GradientType=1 ); /* IE6-9 */
        padding: 4rem 4rem 5.6rem 7.5rem;
        position: relative;
        &:before {
            .dim(100%,26px);
            .postl(0,0);
            background-image: url('@{img}offers-shadow.png');
            background-repeat: repeat-x;
            content: '';
            z-index: 1;
        }
        .intro {
            .iblock();
            width: 36.4rem;
            padding-top: 2.8rem;
            padding-right: 7.7rem;
            svg {
                .iblock();
                .dim(11.4rem,11.4rem);
                margin-bottom: 1.5rem;
                fill: #780000;
            }
            .title {
                .iblock();
                .font-black(52);
                width: 100%;
                color: @white;
                text-transform: uppercase;
                line-height: 4.6rem;
                margin-bottom: 1.8rem;
                strong {
                    .font-black(52);
                    color: @black;
                }
            }
            .desc {
                .font-light(18);
                .iblock();
                color: @white;
                width: 100%;
                line-height: 2.3rem;
                strong {
                    .font-bold(18);
                }
            }
        }
        .offers-gallery {
            .iblock();
            width: calc(~'100% - 36.4rem');
            .products-list {
                .iblock();
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                padding: 1.2rem 0rem;
                .product-data {
                    .border-radius(.4rem);
                    width: 37.8rem;
                    margin: 0 .6rem;
                    white-space: normal;
                    border: 0 none;
                    &:before {
                        .border-radius(.4rem);
                    }
                }
            }
            .common-arrows {
                .posbl(1.2rem,0);
                .translateY(-50%);
                position: relative;
                z-index: 2;
                margin-bottom: -4rem;
            }
            .common-dots {
                display: none;
            }
        }
    }
}
@media screen and (max-width: 1600px) {
    #home {
        .banners {
            width: 75%;
        }
        .highlights {
            width: 25%;
            .products-list {
                .product-data {
                    width: 100%;
                    &:nth-child(n+3){
                        display: none;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1250px) {
    #home {
        .banners, .highlights {
            width: 100%;
            .products-list {
                .product-data {
                    width: calc(~'100% / 3');
                    &:nth-child(3n + 1){
                        .iblock();
                    }
                }
            }
        }
        .offers {
            padding: 4rem 4rem 6.8rem 5rem;
            .intro {
                width: 30.4rem;
                padding-right: 3.7rem;
            }
            .offers-gallery {
                width: calc(~'100% - 30.4rem');
            }
        }
    }
}

@media screen and (max-width: 1099px) {
    #home {
        .offers {
            padding: 4rem 4rem 6.8rem 7.5rem;
            .intro {
                width: 36.4rem;
                padding-right: 8.7rem;
            }
            .offers-gallery {
                width: calc(~'100% - 36.4rem');
            }
        }
    }
}
@media screen and (max-width: 960px) {
    @import url('_m.home.less');
}
@media screen and (max-width: 767px) {
    #home {
        .main-banner {
            height: 23.1rem;
            .banner-data {
                .iblock();
                .lazyload {
                    .dim(100%,23.1rem);
                    line-height: 23.1rem;
                }
            }
        }
    }
}
@media screen and (max-width: 600px) {
    #home {
        .secundary-banner {
            .banner-data {
                .dim(100%,23rem);
                .lazyload {
                    .dim(100%,23rem);
                    line-height: 23rem;
                }
            }
        }
    }
}